/* Global */
body {
	font-family: 'Open Sans', sans-serif;
	font-size: .9em;
	background:url(../../img/nasa/earthBG_xl.jpg) fixed top center;
}
body.chal1 {background:url(../../img/nasa/chal1_BG_xl.jpg) fixed top center;}
@media screen and (max-width: 2000px) { body.chal1 {background:url(../../img/nasa/chal1_BG_l.jpg) fixed top center;} }
@media screen and (max-width: 1500px) { body.chal1 {background:url(../../img/nasa/chal1_BG.jpg) fixed top center;} }
@media screen and (max-width: 1100px) { body.chal1 {background:url(../../img/nasa/chal1_BG_medium.jpg) fixed top center;} }

body.chal2 {background:url(../../img/nasa/chal2_BG_xl.jpg) fixed top center;}
@media screen and (max-width: 2000px) { body.chal2 {background:url(../../img/nasa/chal2_BG_l.jpg) fixed top center;} }
@media screen and (max-width: 1500px) { body.chal2 {background:url(../../img/nasa/chal2_BG.jpg) fixed top center;} }
@media screen and (max-width: 1100px) { body.chal2 {background:url(../../img/nasa/chal2_BG_medium.jpg) fixed top center;} }

body.chal3 {background:url(../../img/nasa/chal3_BG_xl.jpg) fixed top center;}
@media screen and (max-width: 2000px) { body.chal3 {background:url(../../img/nasa/chal3_BG_l.jpg) fixed top center;} }
@media screen and (max-width: 1500px) { body.chal3 {background:url(../../img/nasa/chal3_BG.jpg) fixed top center;} }
@media screen and (max-width: 1100px) { body.chal3 {background:url(../../img/nasa/chal3_BG_medium.jpg) fixed top center;} }

body.chal4 {background:url(../../img/nasa/chal4_BG_xl.jpg) fixed top center;}
@media screen and (max-width: 2000px) { body.chal4 {background:url(../../img/nasa/chal4_BG_l.jpg) fixed top center;} }
@media screen and (max-width: 1500px) { body.chal4 {background:url(../../img/nasa/chal4_BG.jpg) fixed top center;} }
@media screen and (max-width: 1100px) { body.chal4 {background:url(../../img/nasa/chal4_BG_medium.jpg) fixed top center;} }

body.chal5 {background:url(../../img/nasa/chal5_BG_xl.jpg) fixed top center;}
@media screen and (max-width: 2000px) { body.chal5 {background:url(../../img/nasa/chal5_BG_l.jpg) fixed top center;} }
@media screen and (max-width: 1500px) { body.chal5 {background:url(../../img/nasa/chal5_BG.jpg) fixed top center;} }
@media screen and (max-width: 1100px) { body.chal5 {background:url(../../img/nasa/chal5_BG_medium.jpg) fixed top center;} }

body.chal6 {background:url(../../img/nasa/chal6_BG_xl.jpg) fixed top center;}
@media screen and (max-width: 2000px) { body.chal6 {background:url(../../img/nasa/chal6_BG_l.jpg) fixed top center;} }
@media screen and (max-width: 1500px) { body.chal6 {background:url(../../img/nasa/chal6_BG.jpg) fixed top center;} }
@media screen and (max-width: 1100px) { body.chal6 {background:url(../../img/nasa/chal6_BG_medium.jpg) fixed top center;} }



img {
	max-width: 100%;
}
a {
	color:#95a7b9;
	cursor:pointer;
}
a:hover {
	color:#c3d2e0;
}
a:visited {
	color:#c3d2e0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform:none;
	margin: 0;
	padding: 0;
	line-height: 1em;
}
p, a, li {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
h1 {
	color:#f39339;
	font-size: 2.7em;
	text-transform:uppercase;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}
h2 {
	font-size: 1.25em;
	color:#fff;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}
p {
	line-height: 1.6em;
	color:#fff;
}
ul {
	padding-left: 3%;
}
li {
}
.highz {
	z-index: 999999;
}
.bluebtn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  background: #4faadf;
  padding: 10px 40px 10px 40px;
  border: solid #ffffff 1px;
  text-decoration: none;
  margin-bottom:10%;
  color:#fff!important;
}
.bluebtn:hover {
  background: #2d83b5;
  text-decoration: none;
  color:#fff;
}
.dbb {
	color:#2a2e39;
	font-weight:bold;
}
.lb {
	color:#95a7b9;
}
/* -------------------------------- HEADER */
#header {
	padding: .3% 0;
	top:0px;
	width:100%; 
	height:100%; 
	z-index:100;
	/*background-color: rgba(11, 18, 29, 0.6);*/
}
#headleft {
	width: 25%;
	float:left;
	display:inline;
}
#headright {
	width: 75%;
	float:right;
	display:inline;
}
.headerlogos {
	float:right;
	width: 380px;
}
ul.headerlogos {
	padding-left:0;
}
.headerlogos li {
	display:inline;
}
.headerlogos img {
	max-width: 90px;
	padding: 0 2%;
}
#logo {
	text-align: left;
	margin-left:5%;
	width: 45%;
	float:left;
}
#hrlogin {
	padding-top: 2%;
	width: auto;
	text-align:center;
	float:right;
	display:inline;
	margin-right: 1%;
	padding-bottom: 1%;
}
.loginlink {
	color:#7eb4e3;
	font-size: .8em;
	text-decoration:none;
	/*background:#f39339;*/
	padding: 8px 30px;
	border:1px solid #7eb4e3;
}
#navcontain {
	width:100%;
	height: 40px;
	background:url(../../img/nasa/navbar.png) top left no-repeat;
	margin-top: 1%;
	margin-left: -5%;
	padding-left:50px;
}
#navcontain li{
	display: inline-block;
	float: left;
	list-style: none;
	list-style-type: none;
	padding: 10px 10px;
	border-left:1px solid #2164BA;
}

#navcontain li a{
	text-decoration: none;
	padding 0px 3px;
}
#navcontain li:hover{
	background-color: #2569C0;
}
/* -------------------------------- LANDING AREA */
#landingArea {
}
.welcometext {
	padding: 25% 0 2% 0;
}

/* ---------------------------------- TOP ORANGE */
#topOrange {
	padding: 5% 0;
	background:url(../../img/nasa/orangeBG_large.jpg) top center;
}

/* --------------------------- CHALLENGE LANDING */
#challengeLanding {
	background:#ececec;
}
#challengeLanding h3 {
	background-color:#2a2e39;
	padding: 4% 0% 4% 10%;
	color:#FFFFFF;
	font-size: 1.4em;
	margin-top: 5%;
	width: 70%;
}
#challengeLanding p {
	padding: 0 20% 0 10%;
}
a.gotochallenge {
	text-decoration:underline;
	font-style:italic;
	font-size: .8em;
}
.gotochallenge a:hover {
}
.challengelanding {
}
.stemtype {
	color:#ebbd90;
	font-style:italic;
}
.challengecontain {
	background:#373d4b;
	width:100%;
	margin: 3% 0;
	height: 300px;
}
.challenge_left {
	width: 40%;
	float:left;
	display:inline;
	padding: 0% 0 0 0%;
	height: 300px;
}
.challenge_right {
	width: 60%;
	float:right;
	display:inline;
}
.chal1 {
	background:url(../../img/nasa/chal1.png) bottom right no-repeat;
}
.chal2 {
	background:url(../../img/nasa/chal2.png) bottom right no-repeat;
}
.chal3 {
	background:url(../../img/nasa/chal3.png) bottom right no-repeat;
}
.chal4 {
	background:url(../../img/nasa/chal4.png) bottom right no-repeat;
}
.chal5 {
	background:url(../../img/nasa/chal5.png) bottom right no-repeat;
}
.chal6 {
	background:url(../../img/nasa/chal6.png) bottom right no-repeat;
}

/* ------------------------------- BOTTOM ORANGE */
#bottomOrange {
	padding: 5% 0;
	background:url(../../img/nasa/orangeBG_large.jpg) top center;
}
#signup {
	border-top: 1px solid #fab194;
	border-bottom: 1px solid #fab194;
	padding: 5% 15%;
	text-align:center;
	margin: 3% 0%;
}
#signup h3 {
	color:#ffe9d6;
	text-transform:uppercase;
	font-size: 2.3em;
	padding-bottom: 5%;
}
#signup p {
	margin-bottom: 5%;
}
.signupbutton {
	background:url(../../img/nasa/plus_background.png) top right no-repeat;
	padding: 14px 48px 15px 23px;
	text-transform:uppercase;
	font-weight:bold;
	color:#FFFFFF;
}
.calendarbutton {
	background:url(../../img/nasa/calendar_background.png) top right no-repeat;
	padding: 10px 48px 15px 23px;
	text-transform:uppercase;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	margin:5px;
	display:inline-block;
}
a.calendarbutton{
	text-decoration:none;
}
a.calendarbutton:hover{
	text-shadow:#333 1px 1px;
}
#signup a:hover {
	color:#FFFFFF;
}
#cf {
  position:relative;
  height:100%;
  width:100%;
  margin:0 auto;
}
#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
#cf img.top:hover {
  opacity:0;
}

/* -------------------------------------- LANDING PAGES */

.landingtitle {
	width: 95%;
	margin:auto;
}
.landingtitle h1 {
	text-align:center;
}
.landingdetails h2 {
}
.landingdetails p {
}
.chal1welcome {
	background: #373d4b;
	padding: 2% 0%;
	margin-top: 30%;
}
#interiorLanding {
	background:#ececec;
	padding-bottom: 5%;
}
#ld_holder {
}
.ld_left {
	width: 25%;
	float:left;
	display:inline;
}
.ld_right {
	width: 75%;
	float:right;
	display:inline;
}
#videoholder {
	/*width: 560px;
	height: 315px;*/
	margin:auto;
	margin-top: -60px;
	position:relative;
	padding-bottom:56%;
	padding-top:30px;
	height:0;
	overflow: hidden;
}
#videoholder iframe, 
#videoholder object, 
#videoholder embed,
#videoholder video{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.challengelanding .grid_6{
	margin: 0px 25%;
}
#landingOrange {
	padding: 5% 0 8% 0;
	background:url(../../img/nasa/orangeBG_large.jpg) top center;
}
#interiorLanding h3 {
	color:#2a2e39;
	text-align:center;
	padding: 3% 0 1% 0;
	background:none;
	font-size: 1.8em;
}
#interiorLanding p {
	color:#484848;
	font-size: 1.3em;
	padding-bottom: 5%;
}
.tellstory {
	text-align:center;
	padding: 0 0;
	margin-bottom: 5%;
}
.downloads {
}
.downloads .grid_6 {
}
#interiorLanding .downloads h3 {
	color:#FFFFFF;
	background:#373d4b;
	padding: 4% 4%;
	margin-bottom: 5%;
	font-size: 1.3em;
}
.downloads ul {
	padding-bottom: 10%;
}
.downloads li {
	list-style-type:none;
	padding-bottom: 30px;
}
.downloads a {
	color:#596072;
	font-style:italic;
}
.resourceicon {
	padding-right: 10px;
}
.resourceicon img {
	margin-bottom: -20px;
}
.pdfimg {
}
.videowatch {
}

/* -------------------------------------- FOOTER */
#footer {
	background-color: #2a2e39;
	padding: 2% 0;
}
.footerlogos {
}
.footerlogos img {
	max-width: 50px;
	padding: 0 1%;
}
.footerlogos li {
	list-style-type: none;
	display:inline;
}
#flcontain {
	width: 20%;
	float:left;
	display:inline;
}
#footerlinks {
	width: 80%;
	float:right;
	display:inline;
}
#footerlinks ul {
}
#footerlinks li {
	list-style-type:none;
	display:inline;
	padding: 0 .5%;
}
#footerlinks a {
	color:#959595;
	text-decoration:none;
	font-size:.7em;
}
#footerlinks a:hover {
	color:#959595;
}


/* Medium */
@media screen and (max-width: 1396px) {
	#headleft{
	float:none;
	display: block;
	width:50%;
	}
	#headright{
		width:95%;
		display:block;
		float:none;
	}
}
/* Tablet */
@media screen and (max-width: 1024px) {


.challengelanding .grid_6{
	margin: 0px auto;
}
.chal1welcome {
	padding: 8% 0%;
}
.landingtitle h1 {
	line-height: 1em;
}
}

/* Small */
@media screen and (max-width: 800px) {
	#headleft {
	float:none;
	width:95%;
}
}
/* Mobile */
@media screen and (max-width: 480px) {
#headleft {
	float:none;
	width:95%;
}
#headright {
	float:none;
}
#navcontain {
	background-image:none;
}
h1 {
	text-align:center;
}
h2 {
	text-align:center;
	padding: 5% 3%;
}
.welcometext {
	padding: 55% 0 2% 0;
}
#topOrange p {
	padding: 5% 7%;
}
#challengeLanding {
	padding: 3% 0;
}
.challengecontain {
	margin:auto;
	background:#373d4b;
	width:95%;
	margin-bottom: 10%;
	height:450px;
}
.challenge_left {
	width: 100%;
	float:none;
	display:block;
	padding: 0% 0 0 0%;
	height: 300px;
}
.challenge_right {
	width: 100%;
	float:none;
	display:block;
	bottom:0;
}
.challengelanding .grid_6{
		margin: 0px auto;
	}
#footerlinks ul {
	padding: 0 20%;
}
#flcontain {
	width: 50%;
	float:none;
	margin: auto;
	display:block;
	text-align:center;
}
#footerlinks {
	width: 100%;
	float:none;
	text-align:center;
}
}