html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block}
body {line-height:1}
ol,ul {list-style:none}
blockquote,q {quotes:none}
blockquote:before,blockquote:after,q:before,q:after {content:'';content:none}
table {border-collapse:collapse;border-spacing:0}
.sanserif {font-family:Arial,Helvetica,sans-serif}
.no-margins {margin:0 ! important}
.icon-entypo {font-size:101px;color:#2aa4ea;font-family:entyporegular;display:inline-block}
.icon-typicon {font-size:70px;color:#2aa4ea;font-family:typiconsregular}
.description-font-image {font-size:40px;color:#2aa4ea;font-family:icomoon;z-index:-1;margin-left:-80px;margin-top:15px;width:80px;display:block;text-align:center;position:absolute}
.clear-fix {clear: both;}
.clear-fix:after {content:" ";width:0;height:0;display:block;clear:both}
.vertical-centered-box {display:-moz-box;-moz-box-orient:horizontal;-moz-box-pack:center;-moz-box-align:center;display:-webkit-box;-webkit-box-orient:horizontal;-webkit-box-pack:center;-webkit-box-align:center;display:box;box-orient:horizontal;box-pack:center;box-align:center}
@font-face {font-family:'BreeSerifRegular';src:url('/assets/fonts/BreeSerif-Regular-webfont.eot');src:url('/assets/fonts/BreeSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/BreeSerif-Regular-webfont.woff') format('woff'),url('/assets/fonts/BreeSerif-Regular-webfont.ttf') format('truetype'),url('/assets/fonts/BreeSerif-Regular-webfont.svg#BreeSerifRegular') format('svg');font-weight:100;font-style:normal}
@font-face {font-family:'epocaclassic-lightregular';src:url('/assets/fonts/epoclassic-lig-webfont.eot');src:url('/assets/fonts/epoclassic-lig-webfont.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/epoclassic-lig-webfont.woff') format('woff'),url('/assets/fonts/epoclassic-lig-webfont.ttf') format('truetype'),url('/assets/fonts/epoclassic-lig-webfont.svg#epocaclassic-lightregular') format('svg');font-weight:100;font-style:normal}
@font-face {font-family:'icomoon';src:url('/assets/fonts/icomoon.eot');src:url('/assets/fonts/icomoon.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/icomoon.woff') format('woff'),url('/assets/fonts/icomoon.ttf') format('truetype'),url('/assets/fonts/icomoon.svg#icomoon') format('svg');font-weight:100;font-style:normal}
@font-face {font-family:'typiconsregular';src:url('/assets/fonts/typicons-regular-webfont-webfont.eot');src:url('/assets/fonts/typicons-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/typicons-regular-webfont-webfont.woff') format('woff'),url('/assets/fonts/typicons-regular-webfont-webfont.ttf') format('truetype'),url('/assets/fonts/typicons-regular-webfont-webfont.svg#typiconsregular') format('svg');font-weight:100;font-style:normal}
@font-face {font-family:'entyporegular';src:url('/assets/fonts/entypo-webfont-webfont.eot');src:url('/assets/fonts/entypo-webfont-webfont.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/entypo-webfont-webfont.woff') format('woff'),url('/assets/fonts/entypo-webfont-webfont.ttf') format('truetype'),url('/assets/fonts/entypo-webfont-webfont.svg#entyporegular') format('svg');font-weight:100;font-style:normal}
@font-face {font-family:'modern_pictogramsnormal';src:url('/assets/fonts/modernpics-webfont.eot');src:url('/assets/fonts/modernpics-webfont.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/modernpics-webfont.woff') format('woff'),url('/assets/fonts/modernpics-webfont.ttf') format('truetype'),url('/assets/fonts/modernpics-webfont.svg#modern_pictogramsnormal') format('svg');font-weight:normal;font-style:normal}
.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus {outline:none}
.slides,.flex-control-nav,.flex-direction-nav {margin:0;padding:0;list-style:none}
.flexslider {margin:0 0 20px;padding:0}
.flexslider .slides>li {display:none;-webkit-backface-visibility:hidden}
.flexslider .slides img {width:100%;display:block}
.flex-pauseplay span {text-transform:capitalize}
.slides:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
html[xmlns] .slides {display:block}
* html .slides {height:1%}
.no-js .slides>li:first-child {display:block}
.flexslider {zoom:1;max-height:450px;position:relative}
.flex-viewport {max-height:450px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;-moz-box-shadow:0 1px 5px rgba(0,0,0,0.6);-webkit-box-shadow:0 1px 5px rgba(0,0,0,0.6);box-shadow:0 1px 5px rgba(0,0,0,0.6);position:relative}
.loading .flex-viewport {max-height:300px}
.flexslider .slides {zoom:1}
.carousel li {margin-right:5px}
.flex-direction-nav {*height:0}
.flex-direction-nav a {width:30px;height:30px;margin:-20px 0 0;display:block;position:absolute;top:50%;z-index:10;cursor:pointer;text-indent:-9999px;opacity:0;-webkit-transition:all .3s ease}
.flex-direction-nav .flex-next {background-position:100% 0;right:-36px}
.flex-direction-nav .flex-prev {left:-36px}
.flexslider:hover .flex-next {opacity:0.8;right:5px}
.flexslider:hover .flex-prev {opacity:0.8;left:5px}
.flexslider:hover .flex-next:hover,.flexslider:hover .flex-prev:hover {opacity:1}
.flex-direction-nav .flex-disabled {opacity:.3!important;filter:alpha(opacity=30);cursor:default}
.flex-control-nav {width:100%;bottom:0px;text-align:center;border:0}
.flex-control-nav li {margin:0 6px;display:inline-block;border:0;zoom:1;padding:20px 10px 0;*display:inline}
.flex-control-paging li a {width:11px;border:0;height:11px;display:block;background:#666;background:rgba(0,0,0,0.5);cursor:pointer;text-indent:-9999px;-webkit-border-radius:20px;-moz-border-radius:20px;-o-border-radius:20px;border-radius:20px;box-shadow:inset 0 0 3px rgba(0,0,0,0.3)}
.flex-control-paging li a:hover {background:#333;background:rgba(0,0,0,0.7)}
.flex-control-paging li a.flex-active {background:#000;background:rgba(0,0,0,0.9);cursor:default}
.flex-control-thumbs {margin:5px 0 0;overflow:hidden}
.flex-control-thumbs li {width:27.5%;float:left;margin:0;padding:2.91%}
.flex-control-thumbs img {width:100%;display:block;cursor:pointer}
.flex-active {outline:none}
.callout {position:absolute;z-index:9999;bottom:20px;margin-left:20px;width:33%;padding:15px;background:#eee;background:rgba(255,255,255,0.8);height:85px;clear:both;width:auto}
.callout h2 {font-family:epocaclassic-lightregular;font-size:280%;color:#2aa4ea;border-bottom:1px solid #ff790e;white-space:nowrap;padding-bottom:10px;margin-bottom:10px}
.callout p {font-family:BreeSerifRegular;font-size:100%;color:#012955}


@media screen and (max-width:900px) {.callout {position:relative;display:block;top:10px;width:100%;height:auto;padding:0 20px 10px;margin:0 0 20px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
.callout h2 {font-size:140%;white-space:normal;padding-bottom:2px;margin-bottom:5px}
.callout p {margin:0;font-size:85%;white-space:normal}
.callout p a {font-size:100%}
}
#menu-link {display:block;clear:both;width:100%;color:white;font-size:25px;font-family:BreeSerifRegular;text-align:center;padding:12px 0px;text-decoration:none;background-color:#2aa4ea;background-image:-webkit-linear-gradient(top,#2aa4ea,#148acd);background-image:-moz-linear-gradient(top,#2aa4ea,#148acd);background-image:-ms-linear-gradient(top,#2aa4ea,#148acd);background-image:-o-linear-gradient(top,#2aa4ea,#148acd)}
.responsive {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:100%}
.responsive input.search {width:98%}
nav {-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-ms-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;overflow:hidden;max-width:1020px;*zoom:1;text-align:center;max-height:0}
nav.active {-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-ms-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;max-height:1000px}
nav ul,nav li {list-style-type:none;margin:0px;padding:0px}
nav>ul {width:100%}
nav>ul:before,nav>ul:after {content:" ";display:table}
nav>ul:after {clear:both}
nav>ul>li {margin:0;padding:0;background-color:#2aa4ea;background-image:-webkit-linear-gradient(top,#2aa4ea,#148acd);background-image:-moz-linear-gradient(top,#2aa4ea,#148acd);background-image:-ms-linear-gradient(top,#2aa4ea,#148acd);background-image:-o-linear-gradient(top,#2aa4ea,#148acd)}
nav>ul>li.search {display:none}
nav>ul>li>a {border:1px solid #127ab6;border-top:1px solid #70c2f1;color:white;display:block;font-family:BreeSerifRegular;font-size:25px;padding:10px 0;text-decoration:none}
nav>ul>li:hover>a {background-color:#1699e4;background-image:-webkit-linear-gradient(top,#1699e4,#127ab6);background-image:-moz-linear-gradient(top,#1699e4,#127ab6);background-image:-ms-linear-gradient(top,#1699e4,#127ab6);background-image:-o-linear-gradient(top,#1699e4,#127ab6);-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;color:#ff790e}
nav>ul>li>ul {-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-ms-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;border:none;max-height:0;overflow:hidden}
nav>ul>li>ul.active {max-height:1000px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-ms-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in}
nav>ul>li>ul>li a {font-size:17px;display:block;padding:5px 10px;color:white;background:#3b6180;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-ms-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;border-bottom:1px solid #5fc5ff;text-decoration:none}
nav>ul>li>ul>li a:hover {background:#427094;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-ms-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;color:#ff790e}
@media screen and (max-width:899px) {.wrappernav {margin-left:-20px;margin-right:-20px}
}
@media screen and (min-width:900px) {header summary {margin-bottom:20px}
.responsive {display:none}
.wrappernav {width:100%;position:relative;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
nav {display:block;overflow:visible;max-height:200px}
nav>UL {position:absolute;z-index:995;overflow:visible;max-height:74px;border:0;background-color:#2aa4ea;background-image:-webkit-linear-gradient(top,#2aa4ea,#148acd);background-image:-moz-linear-gradient(top,#2aa4ea,#148acd);background-image:-ms-linear-gradient(top,#2aa4ea,#148acd);background-image:-o-linear-gradient(top,#2aa4ea,#148acd)}
nav>UL:before {content:" ";display:block;float:left;background:url(/assets/img/white-angle.png) left top no-repeat !important;width:155px;min-height:74px}
nav>UL>LI {float:left;z-index:999;height:74px;border-top:0;border-bottom:0;margin:0;width:120px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
nav>UL>LI>A {border:0;height:74px;padding:25px 10px 0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
nav>UL>LI>A:hover {color:#ffb274}
nav>UL>LI.has-subnav>UL {-webkit-transition:max-height 0.3s ease;-moz-transition:max-height 0.3s ease;-ms-transition:max-height 0.3s ease;-o-transition:max-height 0.3s ease;transition:max-height 0.3s ease;background-color:#0d5b87;background-image:-webkit-linear-gradient(top,#0d5b87,#093c59);background-image:-moz-linear-gradient(top,#0d5b87,#093c59);background-image:-ms-linear-gradient(top,#0d5b87,#093c59);background-image:-o-linear-gradient(top,#0d5b87,#093c59);display:block;position:absolute;left:0;z-index:1000;width:100%}
nav>UL>LI.has-subnav>UL:before {content:" ";display:block;float:left;background:url(/assets/img/white-angle.png) right top no-repeat !important;width:81px;min-height:74px;max-height:74px}
nav>UL>LI.has-subnav>UL>LI {float:left;background:0}
nav>UL>LI.has-subnav>UL>LI>A {background:0;border:0;padding:15px 10px; font-size:1em; /*background: lime;*/}
nav>UL>LI.has-subnav:hover>UL {-webkit-transition:max-height 0.5s ease;-moz-transition:max-height 0.5s ease;-ms-transition:max-height 0.5s ease;-o-transition:max-height 0.5s ease;transition:max-height 0.5s ease;max-height:1000px}
nav>UL>LI.search {display:block;float:right;width:185px;padding-top:15px;padding-right:15px}
nav>UL>LI.search INPUT {background:white;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
}
@media screen and (min-width:960px) and (max-width:1040px) {nav>ul>li>ul>li>a {padding:15px 12px ! important; font-size: 16px;}
}
@media screen and (min-width:900px) and (max-width:959px) {nav>ul>li>ul>li>a {padding:15px 10px ! important; font-size: 15px; }
}
.cols:after {content:" ";clear:both;display:block}
.col2 {width:48%;padding-left:4%;float:left}
.col2:first-child {padding-left:0}
.col3 {width:30%;padding-left:4%;float:left}
.col3:first-child {padding-left:0}
.selectable {list-style-type:none;margin:0;padding:0}
.selectable li {padding:.5em 1em;margin:.5em 0 ! important}
.selectable .ui-selectee {background:#e4f3fc;cursor:pointer}
.selectable .ui-selecting {background:#87ccf3}
.selectable .ui-selected {background:#ff790e}
#progressbar {margin:50px 0}
#progressbar,.progressbar {width:100%;clear:both;font-size:90%}
#progressbar:after,.progressbar:after {content:" ";clear:both;display:block;position:relative}
#progressbar H2,.progressbar H2 {color:#2aa4ea;margin-top:10px}
#progressbar UL,.progressbar UL,#progressbar LI,.progressbar LI {list-style-type:none;margin:0;padding:0}
#progressbar>UL,.progressbar>UL {position:relative;z-index:1000}
#progressbar>UL>LI,.progressbar>UL>LI {vertical-align:top;display:block;clear:both}
#progressbar>UL>LI>UL,.progressbar>UL>LI>UL {border:solid 1px #ddd;background:#eee;margin-right:1em;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
#progressbar>UL>LI>UL:after,.progressbar>UL>LI>UL:after {content:" ";width:0;height:0;display:block;clear:both}
#progressbar>UL>LI>UL>LI,.progressbar>UL>LI>UL>LI {min-width:30px;max-width:40px;float:left;height:35px;text-align:center;padding:4px 1px}
#progressbar>UL>LI>UL>LI A,.progressbar>UL>LI>UL>LI A {padding:8px 2px 4px;display:block;color:#106a9e;text-decoration:none;position:relative;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;text-shadow:0 1px 1px #fff}
#progressbar>UL>LI>UL>LI A.visited,.progressbar>UL>LI>UL>LI A.visited {background:#78f083}
#progressbar>UL>LI>UL>LI A.current,.progressbar>UL>LI>UL>LI A.current {border:solid 4px #ff790e;margin-top:-4px;margin-left:-4px}
#progressbar>UL>LI>UL>LI A B,.progressbar>UL>LI>UL>LI A B {border:solid 1px #0b4b70;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;display:block;margin:0 5px 2px}
#progressbar>UL>LI>UL>LI A SPAN,.progressbar>UL>LI>UL>LI A SPAN {display:none;border:solid 1px #2aa4ea;background:#fff;padding:10px 20px;text-align:left;white-space:nowrap;margin-top:4px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;position:absolute}
#progressbar>UL>LI>UL>LI A:hover,.progressbar>UL>LI>UL>LI A:hover {background:#ccc}
#progressbar>UL>LI>UL>LI A:hover SPAN,.progressbar>UL>LI>UL>LI A:hover SPAN {display:block;z-index:1001}
@import "EditorStyles.css";body {width:100%;height:100%;font-family:Arial,Helvetica,sans-serif;font-size:15px;line-height:20px;color:#363636;-webkit-touch-callout:none;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:transparent;-webkit-backface-visibility:hidden;-webkit-appearance:none;-webkit-font-smoothing:subpixel-antialiased}
h2 {font-family:epocaclassic-lightregular;font-size:24px;color:#ff790e;line-height:30px;margin-top:1em}
h2 span {color:#012955;text-transform:uppercase;font-family:Arial,Helvetica,sans-serif;font-size:15px}
h2 a {font-family:epocaclassic-lightregular;font-size:24px;color:#ff790e;line-height:30px;text-decoration:none}
h2+p,h2+ul {margin-top:10px}
h3 {font-family:BreeSerifRegular;color:#012955;font-size:18px;margin:12px 0px}
h3 strong {font-weight:normal}
h4 {font-family:BreeSerifRegular;color:#012955;font-size:16px;margin:12px 0px}
p {margin:0em 0em 1em 0em}
strong {font-weight:bold}
em {font-style:italic}
ul {list-style-type:square;margin-left:2em}
a {font-family:BreeSerifRegular;color:#ff790e;font-size:16px}
a:hover {text-decoration:none;-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-ms-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out}
select {background:transparent;background:#3b6180 url(/assets/img/arrow_down.png) 100% 50% no-repeat;border:none;height:30px;color:white;padding-left:3%;font-family:epocaclassic-lightregular;padding-right:10px;width:auto;-moz-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);box-shadow:inset 0 0 6px rgba(0,0,0,0.5)}
select:focus {background-image:none}
input[type=text],input[type=password],input[type=email] {background:#3b6180;border:none;color:white;padding:2% 3%;font-family:epocaclassic-lightregular;-webkit-appearance:none;-moz-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);box-shadow:inset 0 0 6px rgba(0,0,0,0.5);-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px} 
.expandable {cursor:pointer}
.expandable h2,.expandable h3 {-webkit-transition:all 0.2 ease;-moz-transition:all 0.2 ease;-ms-transition:all 0.2 ease;-o-transition:all 0.2 ease;transition:all 0.2 ease}
.expandable h2:hover,.expandable h3:hover {opacity:0.75;-webkit-transition:all 0.2 ease;-moz-transition:all 0.2 ease;-ms-transition:all 0.2 ease;-o-transition:all 0.2 ease;transition:all 0.2 ease}
.expandable h4 {color:#ff790e}
.expandable h4:hover {color:#da6100}
.expandable>p,.expandable .content {display:none;cursor:text}
.expandable .content {margin-bottom:30px}
.clear {clear:both}
.clearleft {clear:left}
.hide {display:none}
.NoSpace {margin:0;padding:0}
.right,.FloatRight {float:right}
.left,.FloatLeft {float:left}
.FloatRight {margin:0 0 10px 20px}
.FloatLeft {margin:0 20px 10px 0}
.Center {text-align:center;margin-left:auto;margin-right:auto}
header {position:relative;clear:both}
header summary {font-family:BreeSerifRegular;color:#363636;font-size:18px}
header #search-responsive-wrap {width:100%;clear:both;position:relative;background:#f2f2f8;padding:5px 0}
header #search-responsive-go,header #search-go {padding:10px; margin-top:-7px;height:20px;width:30px;position:absolute;vertical-align:middle;right:0;z-index:100}
header #search-responsive-go:after,header #search-go:after {content:"\00BB"}
header input.search {display:block;background:url(/assets/img/search_bg.png) no-repeat left #fff;-moz-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);box-shadow:inset 0 0 6px rgba(0,0,0,0.5);margin:5px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;background:0;border:0;width:100%;font-family:BreeSerifRegular;font-size:16px;color:#363636;-webkit-appearance:none;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
header #logo a {float:left;margin-right:45px;background:url(/assets/img/logo.png) no-repeat;width:130px;height:125px;z-index:10000;position:relative}
header #logo aside {color:#012955;font-size:18px;font-family:BreeSerifRegular}
footer {display:block;clear:both;background:#f7f4f4;padding-bottom:15px;border-top:solid 50px #fff}
footer h2,footer h2 a {font-size:25px;font-family:epocaclassic-lightregular;text-decoration:none;text-align:left;color:#2aa4ea;padding-bottom:0px}
footer ul+h2 {margin-top:0}
footer a {font-family:BreeSerifRegular;font-size:16px;color:#ff790e;text-decoration:none}
footer a:hover {text-decoration:underline;color:#dd6a0e;-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-ms-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out}
footer ul {margin:0;padding-bottom:10px}
footer li {margin:11px 0px;padding:0;list-style-type:none}
footer .footerborder {height:7px;background-color:#ffa45b;background-image:-webkit-linear-gradient(top,#ffa45b,#da6100);background-image:-moz-linear-gradient(top,#ffa45b,#da6100);background-image:-ms-linear-gradient(top,#ffa45b,#da6100);background-image:-o-linear-gradient(top,#ffa45b,#da6100)}
.outerwrapper {max-width:1020px;margin:0 auto;margin-top:15px;padding:0px 20px}
.widthwrapper {max-width:1020px;margin-left:auto;margin-right:auto;clear:both}
aside {float:right;width:30%}
article {float:left;width:29%;padding-right:6.5%;margin-bottom:60px;margin-top:25px}
section {width:64.1%;float:left}
section li {margin:0 0 1em}
section ol {list-style-type:decimal;margin-left:20px}
section.tools h2 a {width:97%;display:block;margin-bottom:40px;color:white;font-family:epocaclassic-lightregular;font-size:24px;padding:10px;text-decoration:none;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;background-color:#ff790e;background-image:-webkit-linear-gradient(top,#ff790e,#dc6a0e);background-image:-moz-linear-gradient(top,#ff790e,#dc6a0e);background-image:-ms-linear-gradient(top,#ff790e,#dc6a0e);background-image:-o-linear-gradient(top,#ff790e,#dc6a0e)}
section.tools h2 a:before {content:"▼ ";font-size:15px}
section.tools h2 a:after {content:"Open";font-size:15px;text-decoration:underline;float:right}
section.tools h2 a:after:hover {text-decoration:none}
section.tools h2 a:hover {background-color:#ff790e;background-image:-webkit-linear-gradient(top,#ff790e,#f0720d);background-image:-moz-linear-gradient(top,#ff790e,#f0720d);background-image:-ms-linear-gradient(top,#ff790e,#f0720d);background-image:-o-linear-gradient(top,#ff790e,#f0720d)}
section.tools h2 a:active {background-color:#dc6a0e;background-image:-webkit-linear-gradient(top,#dc6a0e,#ee7210);background-image:-moz-linear-gradient(top,#dc6a0e,#ee7210);background-image:-ms-linear-gradient(top,#dc6a0e,#ee7210);background-image:-o-linear-gradient(top,#dc6a0e,#ee7210)}
section.tools h2 a:active:before {content:"▲ "}
section.tools h2 a:active:after {content:"Close"}
.home section {width:100%;float:none}
.home h2 {margin-top:0}
.home li {margin:0}
.join input[type=text],.join input[type=password] {width:95%;font-size:110%;padding:2% 3%;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;margin-top:10px}
.join select {width:100%;font-size:110%;line-height:3;height:3em;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px}
.join table td {padding:8px 5px 0px}
.join table label {padding-left:10px}
.join h5 {font-style:italic;line-height:1.1}
.join .button {margin:30px 0 40px}
.blogsnippet h3 {margin-bottom:5px;font-size:140%}
.blogsnippet p a {font-style:normal;font-size:100%;font-family:Arial,Helvetica,sans-serif;text-decoration:none}
.description {clear:both;margin:5px 0 25px 70px;min-height:40px}
.description:after {content:" ";width:0;height:0;display:block;clear:both}
.description.introduction:before {font-size:40px;color:#2aa4ea;font-family:icomoon;z-index:-1;margin-left:-80px;margin-top:15px;width:80px;display:block;text-align:center;position:absolute;content:"g"}
.description.implementationstrategies:before {font-size:40px;color:#2aa4ea;font-family:icomoon;z-index:-1;margin-left:-80px;margin-top:15px;width:80px;display:block;text-align:center;position:absolute;content:"r"}
.description.coachingmystaff:before {font-size:40px;color:#2aa4ea;font-family:icomoon;z-index:-1;margin-left:-80px;margin-top:15px;width:80px;display:block;text-align:center;position:absolute;content:"t"}
.description.tools:before {font-size:40px;color:#2aa4ea;font-family:icomoon;z-index:-1;margin-left:-80px;margin-top:15px;width:80px;display:block;text-align:center;position:absolute;content:"w"}
.description.trainingstogo:before {font-size:40px;color:#2aa4ea;font-family:icomoon;z-index:-1;margin-left:-80px;margin-top:15px;width:80px;display:block;text-align:center;position:absolute;content:"a"}
.description.trainingstarters:before {font-size:40px;color:#2aa4ea;font-family:icomoon;z-index:-1;margin-left:-80px;margin-top:15px;width:80px;display:block;text-align:center;position:absolute;content:"l"}
.bucket {margin-bottom:28px;padding-bottom:1em;-moz-box-shadow:0 3px 5px rgba(0,0,0,0.4);-webkit-box-shadow:0 3px 5px rgba(0,0,0,0.4);box-shadow:0 3px 5px rgba(0,0,0,0.4);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.bucket.expandable {padding-bottom:0}
.bucket.expandable h2 {-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;margin-left:-1px;margin-right:-1px}
.bucket.expanded h2 {-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0}
.bucket .content {padding:0 40px 1em}
.bucket a {text-decoration:none}
.bucket a:hover {color:#012955}
.bucket p {font-family:Arial,Helvetica,sans-serif;color:#363636;margin:1em 1em 0}
.bucket ul {padding:0;margin:0}
.bucket li {padding:8px 0px;border-bottom:1px solid #d6d6d6;padding-left:13px;font-family:BreeSerifRegular;color:#ff790e;list-style-type:none ! important}
.bucket li:last-child {border-bottom:none}
.bucket h2 {color:white;text-align:center;font-size:20px;padding:8px 0px;margin:0;-webkit-border-radius:8px 8px 0px 0px;-moz-border-radius:8px 8px 0px 0px;border-radius:8px 8px 0px 0px;background-color:#2aa4ea;background-image:-webkit-linear-gradient(top,#2aa4ea,#238ac4);background-image:-moz-linear-gradient(top,#2aa4ea,#238ac4);background-image:-ms-linear-gradient(top,#2aa4ea,#238ac4);background-image:-o-linear-gradient(top,#2aa4ea,#238ac4)}
.bucket h2 a {color:#fff}
.bucket textarea {max-width:280px;margin:13px auto;padding:0px;display:block;border:none}
.bucket.notes h2 {background-color:#ff790e;background-image:-webkit-linear-gradient(top,#ff790e,#dc6a0e);background-image:-moz-linear-gradient(top,#ff790e,#dc6a0e);background-image:-ms-linear-gradient(top,#ff790e,#dc6a0e);background-image:-o-linear-gradient(top,#ff790e,#dc6a0e)}
.bucket.notes h2 span {font-size:60%;color:white;display:block;margin:-5px 0}
.bucket.notes a.viewother {display:block;text-align:center}
.bucket.notes .notify {background:#ffeada;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;text-align:center;margin:10px 15px;padding:5px}
.bucket.notes textarea,.bucket.notes .autosize {width:260px;min-height:40px;max-height:500px;background:#eee;padding:10px;font-family:Arial,Helvetica;font-size:100%;line-height:1.6;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-transition:height 0.2s ease 0s;-moz-transition:height 0.2s ease 0s;-ms-transition:height 0.2s ease 0s;-o-transition:height 0.2s ease 0s;transition:height 0.2s ease 0s}
.bucket.notes .button {margin:0 5%;width:90%;display:none}
.bucket.glossary {color:#2aa4ea}
.bucket.glossary h2 span {font-size:60%;color:white;display:block;margin:-5px 0}
.bucket.glossary h4 {margin:0}
.bucket.sidenav A {display:block;font-family:BreeSerifRegular;color:white ! important;text-align:center;font-size:22px;padding:9px 24px 12px 24px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;border-top:1px solid #ffa70e;-webkit-appearance:none;background-color:#ff790e;background-image:-webkit-linear-gradient(top,#ff790e,#da6100);background-image:-moz-linear-gradient(top,#ff790e,#da6100);background-image:-ms-linear-gradient(top,#ff790e,#da6100);background-image:-o-linear-gradient(top,#ff790e,#da6100);margin:0.5em;padding:0.5em;float:none;font-size:100%;font-weight:bold;font-family:Arial,Helvetica,sans-serif}
.bucket.sidenav A:hover {background-color:#ff8728;background-image:-webkit-linear-gradient(top,#ff8728,#f46c00);background-image:-moz-linear-gradient(top,#ff8728,#f46c00);background-image:-ms-linear-gradient(top,#ff8728,#f46c00);background-image:-o-linear-gradient(top,#ff8728,#f46c00)}
.bucket.sidenav A:active {background-color:#fe7100;background-image:-webkit-linear-gradient(top,#fe7100,#cb5a00);background-image:-moz-linear-gradient(top,#fe7100,#cb5a00);background-image:-ms-linear-gradient(top,#fe7100,#cb5a00);background-image:-o-linear-gradient(top,#fe7100,#cb5a00)}
.bucket.sidenav A.prev {max-width:40%;text-align:left;margin:0 ! important}
.bucket.sidenav A.next {max-width:40%;text-align:right;margin:0 ! important}
.bucket.sidenav A.smaller {font-size:17px}
.bucket.sidenav A.up:before {display:block;float:left;content:" ";width:0;height:0;border-left:20px solid transparent;border-right:20px solid transparent;border-bottom:20px solid white}
.bucket.sidenav A.next:after {content:"\00bb";padding-left:.25em}
.bucket.sidenav A.prev:before {content:"\00ab";padding-right:.25em}
.bucket.sidenav A.self {background-color:#ffb274;background-image:-webkit-linear-gradient(top,#ffb274,#ff9541);background-image:-moz-linear-gradient(top,#ffb274,#ff9541);background-image:-ms-linear-gradient(top,#ffb274,#ff9541);background-image:-o-linear-gradient(top,#ffb274,#ff9541)}
.bucket.key li {padding-left:18px}
.bucket.key li span {font-size:20px;color:white;font-family:typiconsregular;padding-right:8px;position:relative;top:4px}
.bucket.key li:last-child a {padding-top:14px}
.bucket.key .aligning {background:url(/assets/img/aligning_badge_mini.png) 10px center no-repeat;height:43px;padding-bottom:4px}
.bucket.key .pbl {background:url(/assets/img/pbl_badge_mini.png) 10px center no-repeat;height:43px;padding-bottom:4px}
.bucket.key .stem {background:url(/assets/img/stem_badge_mini.png) 10px center no-repeat;height:43px;padding-bottom:4px}
.bucket.key .strength {background:url(/assets/img/strength_badge_mini.png) 10px center no-repeat;height:43px;padding-bottom:4px}
.bucket.key .family {background:url(/assets/img/family_badge_mini.png) 10px center no-repeat;padding-left:43px;height:43px;padding-bottom:4px}
section .key li {padding-left:13px;padding-top:8px;margin:0em}
section .key li:last-child {padding-bottom:0px;padding-top:22px;margin-top:-6px}
section .key li a {text-decoration:none}
section .key li a:hover {color:#012955}
.video-wrap {margin:13px auto;max-width:285px;padding-bottom:13px}
.video-container {position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden}
.video-container iframe,.video-container object,.video-container embed {position:absolute;top:0;left:0;width:100%;height:100%}
section iframe+iframe {float:right}
section h1 {font-family:BreeSerifRegular;font-size:32px;color:#2aa4ea;margin-bottom:35px;line-height:33px}
section h1+h3 {margin-top:-20px}
section h3+h2 {margin-top:-10px}
.family h1 {background:url("/assets/img/badge_family.png") left center no-repeat;padding:10px 0 15px 60px}
.family .decorate {margin:0;background-color:#1870a2;background-image:url("/assets/img/badge_family.png");background-position:15px center;background-repeat:no-repeat;text-align:left;padding:20px 30px 20px 80px;color:#fff;display:block;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease}
.family .decorate:hover {-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;background-color:#1c80b8;color:#fff;text-shadow:0 1px 1px #000;padding-top:21px;padding-bottom:19px}
.stem h1 {background:url("/assets/img/badge_stem.png") left center no-repeat;padding:10px 0 15px 60px}
.stem .decorate {margin:0;background-color:#d97109;background-image:url("/assets/img/badge_stem.png");background-position:15px center;background-repeat:no-repeat;text-align:left;padding:20px 30px 20px 80px;color:#fff;display:block;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease}
.stem .decorate:hover {-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;background-color:#f27e0a;color:#fff;text-shadow:0 1px 1px #000;padding-top:21px;padding-bottom:19px}
.partnerships h1 {background:url("/assets/img/badge_partnerships.png") left center no-repeat;padding:10px 0 15px 60px}
.partnerships .decorate {margin:0;background-color:#7f437f;background-image:url("/assets/img/badge_partnerships.png");background-position:15px center;background-repeat:no-repeat;text-align:left;padding:20px 30px 20px 80px;color:#fff;display:block;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease}
.partnerships .decorate:hover {-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;background-color:#904b8f;color:#fff;text-shadow:0 1px 1px #000;padding-top:21px;padding-bottom:19px}
.projectbasedlearning h1 {background:url("/assets/img/badge_projectbasedlearning.png") left center no-repeat;padding:10px 0 15px 60px}
.projectbasedlearning .decorate {margin:0;background-color:#db2211;background-image:url("/assets/img/badge_projectbasedlearning.png");background-position:15px center;background-repeat:no-repeat;text-align:left;padding:20px 30px 20px 80px;color:#fff;display:block;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease}
.projectbasedlearning .decorate:hover {-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;background-color:#ed2a18;color:#fff;text-shadow:0 1px 1px #000;padding-top:21px;padding-bottom:19px}
.civic h1 {background:url("/assets/img/badge_civic.png") left center no-repeat;padding:10px 0 15px 60px}
.civic .decorate {margin:0;background-color:#461615;background-image:url("/assets/img/badge_civic.png");background-position:15px center;background-repeat:no-repeat;text-align:left;padding:20px 30px 20px 80px;color:#fff;display:block;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease}
.civic .decorate:hover {-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;background-color:#591d1b;color:#fff;text-shadow:0 1px 1px #000;padding-top:21px;padding-bottom:19px}
.alignment h1 {background:url("/assets/img/badge_alignment.png") left center no-repeat;padding:10px 0 15px 60px}
.alignment .decorate {margin:0;background-color:#106d61;background-image:url("/assets/img/badge_alignment.png");background-position:15px center;background-repeat:no-repeat;text-align:left;padding:20px 30px 20px 80px;color:#fff;display:block;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease}
.alignment .decorate:hover {-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;background-color:#138474;color:#fff;text-shadow:0 1px 1px #000;padding-top:21px;padding-bottom:19px}
.general h1 {background:url("/assets/img/badge_general.png") left center no-repeat;padding:10px 0 15px 60px}
.general .decorate {margin:0;background-color:#ece515;background-image:url("/assets/img/badge_general.png");background-position:15px center;background-repeat:no-repeat;text-align:left;padding:20px 30px 20px 80px;color:#fff;display:block;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease}
.general .decorate:hover {-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;background-color:#eee72c;color:#fff;text-shadow:0 1px 1px #000;padding-top:21px;padding-bottom:19px}

.literacy h1 {background:url("/assets/img/badge_literacy.png") left center no-repeat;padding:10px 0 15px 60px}

.literacy .decorate {margin:0;background-color:#990D6E;background-image:url("/assets/img/badge_literacy.png");background-position:15px center;background-repeat:no-repeat;text-align:left;padding:20px 30px 20px 80px;color:#fff;display:block;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease}

.literacy .decorate:hover {-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;background-color:#9B3D83;color:#fff;text-shadow:0 1px 1px #000;padding-top:21px;padding-bottom:19px}

.ccr h1, .collegeandcareerreadiness h1 {background:url("/assets/img/badge_ccr.png") left center no-repeat;padding:10px 0 15px 60px;position:relative;z-index:5;}

.ccr .decorate, .collegeandcareerreadiness .decorate {margin:0;background-color:#84A253;background-image:url("/assets/img/badge_ccr.png");background-position:15px center;background-repeat:no-repeat;text-align:left;padding:20px 30px 20px 80px;color:#fff;display:block;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease}

.ccr .decorate:hover, .collegeandcareerreadiness .decorate:hover {-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;background-color:#84A253;color:#fff;text-shadow:0 1px 1px #000;padding-top:21px;padding-bottom:19px}



.quiz-questions {list-style: none; margin-left: 0;}

.quiz-questions li  { cursor: pointer; background: url(/assets/img/check-box.png) no-repeat left center; padding:3px 0 3px 37px;}
.quiz-questions li:hover {color:#2aa4ea; text-decoration: underline; }

.quiz-questions .answer-checked {color: #2aa4ea; font-weight: bold; background: url(/assets/img/check-box-checked.png) no-repeat left center;}
.quiz-questions .answer-right {color: #78f083; font-weight: bold;}
.quiz-questions .answer-wrong {color:#ff790e; font-weight: bold;}

#checkanswer, #retryanswer {display: block; border: none; font-size: 16px; cursor: pointer;
font-family: BreeSerifRegular;
color: white ! important;
text-align: center;
float: left;
padding: 9px 24px 12px 24px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
background-color: #2aa4ea;
background-image: -webkit-linear-gradient(top,#2aa4ea,#238ac4);
background-image: -moz-linear-gradient(top,#2aa4ea,#238ac4);
background-image: -ms-linear-gradient(top,#2aa4ea,#238ac4);
background-image: -o-linear-gradient(top,#2aa4ea,#238ac4);
}
.button-container {overflow: hidden;}
#retryanswer {margin-left: 30px;}

.correct-answer-message {color: #78f083; font-weight: bold; font-size: 20px; display: none; padding-bottom: 1rem;}
.wrong-answer-message {color:#ff790e; font-weight: bold; font-size: 20px; display: none; padding-bottom: 1rem;}

	.block-widget {max-width: 654px; margin: 0 auto;}
	.block-widget div {margin-top: -2px; position: relative;}
	.block-widget div img {display: block; margin: 0 auto; margin-top: -5px;}
	
	.block-reading {text-indent: -9999em; max-width: 279px; height: 40px; background: url(/uploads/img/reading-sprite.png) center top; background-size: cover; cursor: pointer; 
	margin: 0 auto; z-index: 4;}
	.block-reading:hover {background-position: 0 -40px;}
	
	.block-writing {text-indent: -9999em; max-width: 272px; height: 38px; background: url(/uploads/img/writing-sprite.png) center top; background-size: cover; cursor: pointer;
	margin: 0 auto; z-index: 3;}
	.block-writing:hover {background-position: 0 -38px;}
	.block-speaking {text-indent: -9999em; max-width: 366px; height: 76px; background: url(/uploads/img/speaking-sprite.png) center top; background-size: cover; cursor: pointer; 	margin: 0 auto; z-index: 2;}
	.block-speaking:hover {background-position: 0 -76px;}
	.block-lang {text-indent: -9999em; max-width: 416px; height: 51px; background: url(/uploads/img/lang-sprite.png) center top; background-size: cover; cursor: pointer; 	margin: 0 auto; z-index: 1;}
	.block-lang:hover {background-position: 0 -51px;}
	.block-bubble {border-radius: 10px; border: 1px solid black; padding: 10px; margin-bottom: 30px;}
	
	.block-bubble:before, .block-bubble:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
  }

  /* Stroke */
  .block-bubble:before {
    bottom: -16px;
    left: 200px;

    /* If 1px darken stroke slightly */
    border-top-color: black;
    border-width: 16px;
  }

/* RED BUBBLE */

  .block-bubble.red {border-color: #ED1C24; color: #ED1C24;}

  .block-bubble:after {
    bottom: -15px;
    left: 201px;
    border-top-color: white;
    border-width: 15px;
  }
  
  .block-bubble.red:before, .block-bubble.red:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
  }

  /* Stroke */
  .block-bubble.red:before {
    bottom: -16px;
    left: 200px;

    /* If 1px darken stroke slightly */
    border-top-color: #ED1C24;
    border-width: 16px;
  }

  /* Fill */
  .block-bubble.red:after {
    bottom: -15px;
    left: 201px;
    border-top-color: white;
    border-width: 15px;
  }
  
  /* BLUE BUBBLE */

  .block-bubble.blue {border-color: #008CD2; color: #008CD2;}

  .block-bubble:after {
    bottom: -15px;
    left: 201px;
    border-top-color: white;
    border-width: 15px;
  }
  
  .block-bubble.blue:before, .block-bubble.blue:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
  }

  /* Stroke */
  .block-bubble.blue:before {
    bottom: -16px;
    left: 200px;

    /* If 1px darken stroke slightly */
    border-top-color: #008CD2;
    border-width: 16px;
  }

  /* Fill */
  .block-bubble.blue:after {
    bottom: -15px;
    left: 201px;
    border-top-color: white;
    border-width: 15px;
  }
  
    /* ORANGE BUBBLE */

  .block-bubble.yellow {border-color: #F58220; color: #F58220;}

  .block-bubble:after {
    bottom: -15px;
    left: 201px;
    border-top-color: white;
    border-width: 15px;
  }
  
  .block-bubble.yellow:before, .block-bubble.blue:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
  }

  /* Stroke */
  .block-bubble.yellow:before {
    bottom: -16px;
    left: 200px;

    /* If 1px darken stroke slightly */
    border-top-color: #F58220;
    border-width: 16px;
  }

  /* Fill */
  .block-bubble.yellow:after {
    bottom: -15px;
    left: 201px;
    border-top-color: white;
    border-width: 15px;
  }
  
  
      /* Green BUBBLE */

  .block-bubble.green {border-color: #117F4D; color: #117F4D;}

  .block-bubble:after {
    bottom: -15px;
    left: 201px;
    border-top-color: white;
    border-width: 15px;
  }
  
  .block-bubble.green:before, .block-bubble.green:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
  }

  /* Stroke */
  .block-bubble.green:before {
    bottom: -16px;
    left: 200px;

    /* If 1px darken stroke slightly */
    border-top-color: #117F4D;
    border-width: 16px;
  }

  /* Fill */
  .block-bubble.green:after {
    bottom: -15px;
    left: 201px;
    border-top-color: white;
    border-width: 15px;
  }
  

@media screen and (max-width: 418px) {
	.block-widget img {width: 100%;}
	.block {width: 100%;}
	.block-bubble {width: inherit;}
	.block-writing {background: url(/uploads/img/writing.png) no-repeat cover;}
	.block-lang {background: url(/uploads/img/lang-1.png) no-repeat cover;}
	.block-reading {background: url(/uploads/img/reading.png) no-repeat cover;}
	.block-speaking {background: url(/uploads/img/speaking.png) no-repeat cover;}
}

@media screen and (max-width: 500px) {
	.block-writing:hover, .block-lang:hover, .block-reading:hover, .block-speaking:hover {background-position: center top !important;}
}

p.civic {background:url(/assets/img/badge_civic.png) left 15px no-repeat;padding:10px 0 15px 60px;min-height:40px}
p.family {background:url(/assets/img/badge_family.png) left 15px no-repeat;padding:10px 0 15px 60px;min-height:40px}
p.stem {background:url(/assets/img/badge_stem.png) left 15px no-repeat;padding:10px 0 15px 60px;min-height:40px}
p.partnerships {background:url(/assets/img/badge_strength.png) left 15px no-repeat;padding:10px 0 15px 60px;min-height:40px}
p.alignment {background:url(/assets/img/badge_align.png) left 15px no-repeat;padding:10px 0 15px 60px;min-height:40px}
p.projectbasedlearning {background:url(/assets/img/badge_projectbasedlearning.png) left 15px no-repeat;padding:10px 0 15px 60px;min-height:40px}
p.general {background:url(/assets/img/badge_general.png) left 15px no-repeat;padding:10px 0 15px 60px;min-height:40px;}
p.literacy {background:url(/assets/img/badge_literacy.png) left 15px no-repeat;padding:10px 0 15px 60px;min-height:40px;}
p.ccr {background:url(/assets/img/badge_ccr.png) left 15px no-repeat;padding:10px 0 15px 60px;min-height:40px;}
.tools h1 {background:url(/assets/img/tools_badge.png) left bottom no-repeat;height:39px;padding-bottom:15px}
.tools h1 span {padding-left:5px;padding-right:8px;font-family:typiconsregular;font-size:35px;color:white;padding-bottom:8px;position:relative;top:10px}
.icon-entypo+p,.icon-typicon+p {margin-left:80px;margin-top:-10px}
.firstletter {float:left;color:#2aa4ea;font-size:50px;line-height:60px;padding-right:8px;font-family:modern_pictogramsnormal}
.Reflect {margin-top:20px;background:url(/assets/img/reflect.gif) 0 50% no-repeat;padding:10px 0 0 45px;min-height:28px}
.Connect {margin-top:20px;background:url(/assets/img/connect.gif) 0 50% no-repeat;padding:10px 0 0 45px;min-height:28px}
.Instructions {color:#a00;font-style:italic}
.Quote {margin-top:10px;font-size:110%;padding-left:80px;font-style:italic}
.Quote:before {float:left;display:block;content:'\201C';position:absolute;font-size:200px;margin-top:70px;margin-left:-100px;z-index:-1;color:#ddd}
.TStyle {-webkit-border-radius:8px 8px 0 0;-moz-border-radius:8px 8px 0 0;border-radius:8px 8px 0 0;width:100%;-moz-box-shadow:0px 3px 5px rgba(0,0,0,0.5);-webkit-box-shadow:0px 3px 5px rgba(0,0,0,0.5);box-shadow:0px 3px 5px rgba(0,0,0,0.5);font-size:95%}
.TStyle.Half {width:50%}
.TStyle ul {margin:0;list-style-type:none}
.TStyle th,.TStyle td.LeftHeader {background-color:#ff790e;background-image:-webkit-linear-gradient(top,#ff790e,#da6100);background-image:-moz-linear-gradient(top,#ff790e,#da6100);background-image:-ms-linear-gradient(top,#ff790e,#da6100);background-image:-o-linear-gradient(top,#ff790e,#da6100);color:white;font-family:epocaclassic-lightregular;padding:10px 15px;vertical-align:middle;border-right:solid 2px #fff;border-left:solid 2px #fff;font-size:110%;font-weight:bold;line-height:1.3}
.TStyle th A,.TStyle td.LeftHeader A {color:#fff;font-family:epocaclassic-lightregular ! important}
.TStyle td.LeftHeader {-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;text-align:center}
.TStyle td {padding:10px 15px;vertical-align:middle;border:solid 2px #fff}
.TStyle th:first-child {-webkit-border-radius:8px 0 0 0;-moz-border-radius:8px 0 0 0;border-radius:8px 0 0 0;border-left:0}
.TStyle th:last-child {-webkit-border-radius:0 8px 0 0;-moz-border-radius:0 8px 0 0;border-radius:0 8px 0 0;border-right:0}
.TStyle tr {background:#eee}
.TStyle tr:nth-child(even) {background:#cce9fa}
article h2,article h2 a {color:#2aa4ea;font-size:32px;font-family:BreeSerifRegular;text-align:center;text-decoration:none;margin-bottom:22px;line-height:35px}
article h2 a:hover,footer h2 a:hover {color:#3b6180;text-decoration:none;-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-ms-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out}
aside.widget {float:none;width:100%}
.login {padding:1px 4% 30px;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin-bottom:18px;background-color:#2aa4ea;background-image:-webkit-linear-gradient(top,#2aa4ea,#2b8dc6);background-image:-moz-linear-gradient(top,#2aa4ea,#2b8dc6);background-image:-ms-linear-gradient(top,#2aa4ea,#2b8dc6);background-image:-o-linear-gradient(top,#2aa4ea,#2b8dc6);-webkit-border-radius:0 0 10px 10px;-moz-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px}
.login input[type=text],.login input[type=password] {display:block;margin:0 auto 5%;width:90%;padding:2% 4%;border:0}
.login .button {width:100%;margin:0;border:0}
.login a {color:#fff;padding-top:1em;display:block}
.login a:hover {color:#fff}
footer .login .subnav .left {color:white;margin-top:20px}
.login .subnav a:hover {color:white}
.login .subnav a {color:white}
.login .subnav {width:100%}
.login .subnav .button {margin-left:0px}
.login h2,.subpage .login h2 {color:white;font-family:BreeSerifRegular;font-size:25px;margin-bottom:10px}
.logintext {font-family:epocaclassic-lightregular;color:#012955;font-size:20px;padding-bottom:8px}
footer .left {margin-right:5%}
footer .left2 {float:left;margin-right:2%}
footer div.right {width:25%}
footer .seals {margin-right:10.5%}
.slider {clear:both}
.subnav {margin-bottom:23px;color:#2aa4ea;font-size:20px;float:right}
.subnav a {font-family:epocaclassic-lightregular;color:#2aa4ea;text-decoration:none;font-size:20px}
.subnav a:hover {color:#3b6180}
.subnav .button:hover {color:white}
.breadcrumbs {margin-left:80px;margin-top:14px;width:450px;float:left;font-size:20px}
.breadcrumbs a {color:#012955;text-decoration:none}
.breadcrumbs a:hover {color:#ff790e;text-decoration:underline}
.subnav .button {float:right}
.button {display:block;font-family:BreeSerifRegular;color:white ! important;text-align:center;font-size:22px;padding:9px 24px 12px 24px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;border-top:1px solid #ffa70e;-webkit-appearance:none;background-color:#ff790e;background-image:-webkit-linear-gradient(top,#ff790e,#da6100);background-image:-moz-linear-gradient(top,#ff790e,#da6100);background-image:-ms-linear-gradient(top,#ff790e,#da6100);background-image:-o-linear-gradient(top,#ff790e,#da6100)}
.button:hover {background-color:#ff8728;background-image:-webkit-linear-gradient(top,#ff8728,#f46c00);background-image:-moz-linear-gradient(top,#ff8728,#f46c00);background-image:-ms-linear-gradient(top,#ff8728,#f46c00);background-image:-o-linear-gradient(top,#ff8728,#f46c00)}
.button:active {background-color:#fe7100;background-image:-webkit-linear-gradient(top,#fe7100,#cb5a00);background-image:-moz-linear-gradient(top,#fe7100,#cb5a00);background-image:-ms-linear-gradient(top,#fe7100,#cb5a00);background-image:-o-linear-gradient(top,#fe7100,#cb5a00)}
.button.prev {max-width:40%;text-align:left;margin:0 ! important}
.button.next {max-width:40%;text-align:right;margin:0 ! important}
.button.smaller {font-size:17px}
.navbutton {font-family:BreeSerifRegular;color:white;text-align:center;font-size:22px;padding:9px 24px 12px 24px;border-radius:8px;border-top:1px solid #ffa70e;-webkit-appearance:none;background-color:#ff790e;background-image:-webkit-linear-gradient(top,#ff790e,#da6100);background-image:-moz-linear-gradient(top,#ff790e,#da6100);background-image:-ms-linear-gradient(top,#ff790e,#da6100);background-image:-o-linear-gradient(top,#ff790e,#da6100);margin:10px}
.navbutton:hover {background-color:#ff8728;background-image:-webkit-linear-gradient(top,#ff8728,#f46c00);background-image:-moz-linear-gradient(top,#ff8728,#f46c00);background-image:-ms-linear-gradient(top,#ff8728,#f46c00);background-image:-o-linear-gradient(top,#ff8728,#f46c00);color:white}
.navbutton:active {background-color:#fe7100;background-image:-webkit-linear-gradient(top,#fe7100,#cb5a00);background-image:-moz-linear-gradient(top,#fe7100,#cb5a00);background-image:-ms-linear-gradient(top,#fe7100,#cb5a00);background-image:-o-linear-gradient(top,#fe7100,#cb5a00);color:white}
.Warning {background:#c84f2e;color:#fff;font-weight:bold}
div.Warning {-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;margin:20px 0;padding:10px}
div.Warning li {padding:0;margin:0}
span.Warning {-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;float:right;padding:4px;margin-top:2px}
.button2 {display:block;font-family:BreeSerifRegular;color:white;text-align:center;font-size:20px;padding:1px 12px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:none;float:right;border-top:1px solid #ffa70e;margin:0px;-webkit-appearance:none;background-color:#ff790e;background-image:-webkit-linear-gradient(top,#ff790e,#dc6a0e);background-image:-moz-linear-gradient(top,#ff790e,#dc6a0e);background-image:-ms-linear-gradient(top,#ff790e,#dc6a0e);background-image:-o-linear-gradient(top,#ff790e,#dc6a0e)}
.button2:hover {background-color:#ff790e;background-image:-webkit-linear-gradient(top,#ff790e,#f0720d);background-image:-moz-linear-gradient(top,#ff790e,#f0720d);background-image:-ms-linear-gradient(top,#ff790e,#f0720d);background-image:-o-linear-gradient(top,#ff790e,#f0720d)}
.button2:active {border-top:1px solid transparent;background-color:#dc6a0e;background-image:-webkit-linear-gradient(top,#dc6a0e,#ee7210);background-image:-moz-linear-gradient(top,#dc6a0e,#ee7210);background-image:-ms-linear-gradient(top,#dc6a0e,#ee7210);background-image:-o-linear-gradient(top,#dc6a0e,#ee7210)}
.subnav .left {margin-top:15px;margin-right:15px}
.blogsnippet img {width:100%}
article.rightcolumn {float:left;padding-right:0%}
article .signature {font-family:BreeSerifRegular;font-size:15px;color:#2aa4ea;margin-top:12px}
.filepdf {background-position:95% 25px;background-repeat:no-repeat;min-height:30px;display:block;padding:20px 60px 0px 10px;font-size:150%;background-image:url(/assets/img/icon_pdf.png)}
.filepdf span {font-family:Arial,Helvetica,sans-serif;display:block;font-size:60%;padding-top:10px;line-height:1.2}
.filedoc {background-position:95% 25px;background-repeat:no-repeat;min-height:30px;display:block;padding:20px 60px 0px 10px;font-size:150%;background-image:url(/assets/img/icon_word.png)}
.filedoc span {font-family:Arial,Helvetica,sans-serif;display:block;font-size:60%;padding-top:10px;line-height:1.2}
.filexls {background-position:95% 25px;background-repeat:no-repeat;min-height:30px;display:block;padding:20px 60px 0px 10px;font-size:150%;background-image:url(/assets/img/icon_excel.png)}
.filexls span {font-family:Arial,Helvetica,sans-serif;display:block;font-size:60%;padding-top:10px;line-height:1.2}
.fileppt {background-position:95% 25px;background-repeat:no-repeat;min-height:30px;display:block;padding:20px 60px 0px 10px;font-size:150%;background-image:url(/assets/img/icon_powerpoint.png)}
.fileppt span {font-family:Arial,Helvetica,sans-serif;display:block;font-size:60%;padding-top:10px;line-height:1.2}
section .filepdf,section .filedoc,section .filexls,section .fileppt {font-size:130%;padding:10px 0 10px 50px;background-position:0 25%;min-height:20px;line-height:1.4}
section .filepdf span,section .filedoc span,section .filexls span,section .fileppt span {margin-top:-5px;display:block;font-family:Arial,Helvetica,sans-serif;font-size:70%}
@media screen and (max-width:900px) {section,aside,article,.subnav,.breadcrumbs {clear:both;float:none;width:100%}
.subnav,.breadcrumbs {margin:20px 0}
.subnav:after,.breadcrumbs:after {content:" ";width:0;height:0;display:block;clear:both}
.bucket {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
footer {text-align:center}
footer h2 {padding:10px;text-align:center;margin-top:0}
footer ul {display:none}
footer .left,footer .left2,footer div.right,footer .right,footer .login {box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;float:none;clear:both;width:100%;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
footer div.right {margin-top:1em}
}
@media screen and (max-width:600px) {.button.prev,.button.next {float:none ! important;max-width:100%}
}
@media screen and (max-width:400px) {header #logo a {display:block;float:none;background-position:50% 50%;width:100%;margin:0 0 10px}
header #logo summary {text-align:center;display:block}
section img.full,section img.half,section img.third {float:none;display:block;width:100%;padding:0;margin:10px 0}
}

section.summer-learning{
	width:45%;
	margin-right: 5%;
}

@media screen and (max-width:900px){
	section.summer-learning{
	width:100%;
	margin-right: 0;
	}
}
#content section {
 /*   width: 69%; */
}


.collegeandcareerreadiness.subpage section iframe{
	position:relative;
	top:-70px;
}

h2.coachingmystaff:before {
    font-size: 34px;
    color: #2aa4ea;
    font-family: icomoon;
    z-index: -1;
    margin-left: -73px;
    margin-top: -3px;
    width: 80px;
    display: block;
    text-align: center;
    position: absolute;
    content: "t";
}

h2.coachingmystaff{
	padding-left:70px;
	
}
h2.implementationstrategies:before {
    font-size: 34px;
    color: #2aa4ea;
    font-family: icomoon;
    z-index: -1;
    margin-left: -73px;
    margin-bottom: -20px;
    width: 80px;
    display: block;
    text-align: center;
    content: "r";
}

h2.implementationstrategies{
	padding-left:70px;	
}

h2.introduction:before {
    font-size: 40px;
    color: #2aa4ea;
    font-family: icomoon;
    z-index: -1;
    margin-left: -73px;
    margin-top: -3px;
    width: 80px;
    display: block;
    text-align: center;
    position: absolute;
    content: "g";
}

h2.introduction{
	padding-left:70px;	
}

.learn-2nd-nav{
	text-align:center;
	padding-top:28px;
	margin-bottom:-40px;
}

.module-nav{
	margin-top:-75px;
}

.module-nav h2{
	padding-top:40px;
}

#content .collegeandcareerreadiness.subpage section {
	width:69%;
}
