/* Global */



body {
	font-family: 'Open Sans', sans-serif;
	font-size: .9em;
	background:url(../../img/clickandgo/cover3.jpg) fixed top center;
}

@media screen and (max-width: 2000px) { body {background:url(../../img/clickandgo/cover3.jpg);} }
@media screen and (max-width: 1500px) { body {background:url(../../img/clickandgo/cover3.jpg); background-size: 1500px;} }
@media screen and (max-width: 1100px) { body {background:url(../../img/clickandgo/cover3.jpg); background-size: 1300px;} }


.chal1body {background:url(../../img/clickandgo/chal1_BG_l.jpg) fixed top center;}
@media screen and (max-width: 2000px) { .chal1body {background:url(../../img/clickandgo/chal1_BG_l.jpg) fixed top center;} }
@media screen and (max-width: 1500px) { .chal1body {background:url(../../img/clickandgo/chal1_BG.jpg) fixed top center;} }
@media screen and (max-width: 1100px) { .chal1body {background:url(../../img/clickandgo/chal1_medium.jpg) fixed top center;} }

.chal2body {background:url(../../img/clickandgo/y4y_shot2_2700.jpg) fixed top center;}
@media screen and (max-width: 2000px) { .chal2body {background:url(../../img/clickandgo/y4y_shot2_2700.jpg) fixed top center;} }
@media screen and (max-width: 1500px) { .chal2body {background:url(../../img/clickandgo/y4y_shot2_1500.jpg) fixed top center;} }
@media screen and (max-width: 1100px) { .chal2body {background:url(../../img/clickandgo/y4y_shot2_1100.jpg) fixed top center;} }

.chal3body {background:url(../../img/clickandgo/y4y_shot3_2700.jpg) fixed top center;}
@media screen and (max-width: 2000px) { .chal3body {background:url(../../img/clickandgo/y4y_shot3_2700.jpg) fixed top center;} }
@media screen and (max-width: 1500px) { .chal3body {background:url(../../img/clickandgo/y4y_shot3_1500.jpg) fixed top center;} }
@media screen and (max-width: 1100px) { .chal3body {background:url(../../img/clickandgo/y4y_shot3_1100.jpg) fixed top center;} }

.chal4body {background:url(../../img/clickandgo/chal4_BG_xl.jpg) fixed top center;}
@media screen and (max-width: 2000px) { .chal4body {background:url(../../img/clickandgo/chal4_BG_l.jpg) fixed top center;} }
@media screen and (max-width: 1500px) { .chal4body {background:url(../../img/clickandgo/chal4_BG.jpg) fixed top center;} }
@media screen and (max-width: 1100px) { .chal4body {background:url(../../img/clickandgo/chal4_BG_medium.jpg) fixed top center;} }

.chal5body {background:url(../../img/clickandgo/chal5_BG_xl.jpg) fixed top center;}
@media screen and (max-width: 2000px) { .chal5body {background:url(../../img/clickandgo/chal5_BG_l.jpg) fixed top center;} }
@media screen and (max-width: 1500px) { .chal5body {background:url(../../img/clickandgo/chal5_BG.jpg) fixed top center;} }
@media screen and (max-width: 1100px) { .chal5body {background:url(../../img/clickandgo/chal5_BG_medium.jpg) fixed top center;} }

.chal6body {background:url(../../img/clickandgo/chal6_BG_xl.jpg) fixed top center;}
@media screen and (max-width: 2000px) { .chal6body {background:url(../../img/clickandgo/chal6_BG_l.jpg) fixed top center;} }
@media screen and (max-width: 1500px) { .chal6body {background:url(../../img/clickandgo/chal6_BG.jpg) fixed top center;} }
@media screen and (max-width: 1100px) { .chal6body {background:url(../../img/clickandgo/chal6_BG_medium.jpg) fixed top center;} }

.toolsbody {background:url(../../img/clickandgo/tools2_2700.jpg) fixed top center  no-repeat;}
@media screen and (max-width: 2000px) { .toolsbody {background:url(../../img/clickandgo/tools2_2700.jpg) fixed top center no-repeat;} }
@media screen and (max-width: 1500px) { .toolsbody {background:url(../../img/clickandgo/tools2_1500.jpg) fixed top center  no-repeat;} }
@media screen and (max-width: 1100px) { .toolsbody {background:url(../../img/clickandgo/tools2_1100.jpg) fixed top center  no-repeat;} }


img {
	max-width: 100%;
}
a {
	color:#b28000;
	cursor:pointer;
}
a:hover {
	color:#c3d2e0;
}
a:visited {
    color: #C59E36;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform:none;
	margin: 0;
	padding: 0;
}
p, a, li {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
h1 {
	font-size: 2.6em;
	text-transform:uppercase;
	color: #fff;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}
h2 {
	font-size: 1.25em;
	color:#fff;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}
p {
	line-height: 1.6em;
	color:#fff;
}
ul {
	padding-left: 3%;
}
li {
}
.highz {
	z-index: 999999;
}
.bluebtn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  background: #4faadf;
  padding: 10px 40px 10px 40px;
  border: solid #ffffff 1px;
  text-decoration: none;
  margin-bottom:10%;
  color:#fff!important;
}
.bluebtn:hover {
  background: #2d83b5;
  text-decoration: none;
  color:#fff;
}
.dbb {
	color:#2a2e39;
	font-weight:bold;
}
.lb {
	color:#95a7b9;
}

.text-right {
    text-align: right;
}




/* -------------------------------- HEADER */

.header_logos img {
    height: 89px;
    padding: 0;
}
.header_logos li {
	list-style-type: none;
	display:inline;
}

/*img#starman{
	padding-left:5px;
	width:89px;
	height:104px;
}

img#y4y_logo{
	width:89px;
	height:89px;
}*/



#header {
    padding: .3% 0;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #3C89B6;
    background-image: linear-gradient(top,#2aa4ea,#148acd);
    background-image: -webkit-linear-gradient(top,#478EB7,#1376AF);
    background-image: -moz-linear-gradient(top,#2aa4ea,#148acd);
	padding:20px;
}
#headleft {
	width: 40%;
	float:left;
	display:inline;
}
#headright {
    width: 60%;
    float: right;
    display: inline;
    padding: 20px 0 0 0;
}
.headerlogos {
	float:right;
	width: 380px;
}
.headerlogos li {
	display:inline;
}
.headerlogos img {
	max-width: 90px;
	padding: 0 2%;
}
.single_logo_contain {
    width: 378px;
    margin-left: 2%;
}
#logo {
	text-align: left;
	margin-left:5%;
	width: 45%;
	float:left;
}
#hrlogin {
	padding-top: 2%;
	width: 60px;
	text-align:center;
	float:right;
	display:inline;
	margin-right: 38%;
}
.loginlink {
	color:#fff;
	text-transform:uppercase;
	font-size: 1.3em;
	text-decoration:none;
}
#navcontain {
    height: 40px;
    float: right;
    margin: 47px 0 0;
    display: inline-flex;
    width: 275px;
}

.header-fixed {
    position: fixed;
    width: 100%;
	z-index:90000;
	top:0;
}

h1.main-slide {
    font-size: 4.5em;
}
h1 .fast-track {
    font-size: .65em;
    line-height: 1.6em;
    margin-top: 45px;
    display: block;
	color: #FC9F54;
}

/* -------------------------------- LANDING AREA */
#landingArea {
}
.welcometext {
	padding: 25% 0 2% 0;
}

.res_group p {
    font-size:.9em !important;
}

/* ---------------------------------- TOP ORANGE */
#topOrange {
	padding: 5% 0;
	background: #5F5757;
}
.bordertop {
	background-image: -webkit-linear-gradient(top,#ffa45b,#da6100);
	background-image: -moz-linear-gradient(top,#ffa45b,#da6100);
	background-image: linear-gradient(top,#ffa45b,#da6100);
	height:7px;
}
.borderbottom {
    background-image: -webkit-linear-gradient(top,#ffa45b,#da6100);
    background-image: -moz-linear-gradient(top,#ffa45b,#da6100);
    background-image: linear-gradient(top,#ffa45b,#da6100);
    height: 7px;
    background-color: #DD6606;
}

/* --------------------------- CHALLENGE LANDING */
#challengeLanding {
	background:#fff;
	margin:-20px 0;
}
#challengeLanding h3 {
    background-color: #1778AF;
    padding: 4% 0% 4% 10%;
    color: #FFFFFF;
    font-size: 1.4em;
    margin-top: 5%;
    width: 70%;
}
#challengeLanding p {
	padding: 0 20% 0 10%;
	color: #272727;
}
a.gotochallenge {
    text-decoration: underline;
    font-style: italic;
    font-size: .8em;
    color: #DCD8CA;
}
a.gotochallenge:hover {
	color:#fff;
}
.resourcelanding {
	padding:70px 0 70px 0;
}
.stemtype {
	color:#607339;
	font-style:italic;
}
.challengecontain {
    background: #9A9A9A;
    width: 100%;
    margin: 3% 0;
    height: 300px;
}
.challenge_left {
	width: 38.3%;
	float:left;
	display:inline;
	padding: 0% 0 0 0%;
	height: 300px;
}
.challenge_right {
	width: 61.7%;
	float:right;
	display:inline;
}
.chal1 {
	background:url(../../img/clickandgo/chal1.png) bottom right no-repeat;
}
.chal2 {
	background:url(../../img/clickandgo/chal2.png) bottom right no-repeat;
}
.chal3 {
	background:url(../../img/clickandgo/chal3.png) bottom right no-repeat;
}
.chal4 {
	background:url(../../img/clickandgo/chal4.png) bottom right no-repeat;
}
.chal5 {
	background:url(../../img/clickandgo/chal5.png) bottom right no-repeat;
}
.chal6 {
	background:url(../../img/clickandgo/chal6.png) bottom right no-repeat;
}

img.icon-tool-sm {
    position: relative;
    top: -6px;
    left: 15px;
	margin-right:3px;
}

ul.tools-ul{
	padding:0 0 0 40px;
	margin:30px 0 0 0;
	
}

#bottomOrange ul li{
	color:#fff;
}

/* ------------------------------- BOTTOM ORANGE */
#bottomOrange {
	padding: 5% 0;
	background: #EA8E16;
}
#signup {
	padding: 5% 0%;
	text-align:center;
}
#signup h3 {
	color:#FBC888;
	text-transform:uppercase;
	font-size: 2.3em;
	padding-bottom: 5%;
}
#signup p {
	margin-bottom: 5%;
}
.signupbutton {
	background:url(../../img/clickandgo/plus_background.png) top right no-repeat;
	padding: 14px 48px 15px 23px;
	text-transform:uppercase;
	font-weight:bold;
	color:#FFFFFF;
}

#signup a {
	color:#fff;
}
#signup a:hover {
	color:#FBBBBB;
	text-decoration:underline;
}

#signup h2 a {
    font-size: 1.25em;
    color: #080000;
    text-shadow: none;
}

#signup h2 a:hover {
    color: #fff;
    
}

#signup ul{
	list-style:none;
}



.cf {
  position:relative;
  height:100%;
  width:100%;
  margin:0 auto;
}
.cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.cf img.top:hover {
  opacity:0;
}

/* -------------------------------------- LANDING PAGES */

.landingtitle {
	width: 1100px;
	margin:auto;
}
.landingtitle h1 {
	text-align:center;
}
.landingdetails h2 {
}
.landingdetails p {
}
.chal1welcome {
	background: #424446;
	padding: 2% 0%;
	margin-top: 30%;
}
#interiorLanding {
	background:#ececec;
	/*padding-bottom: 5%;*/
}
#ld_holder {
    margin-bottom: 20px;
}
}
.ld_left {
	width: 25%;
	float:left;
	display:inline;
}
.ld_right {
    width: 75%;
    float: right;
    display: inline;
    margin-bottom: 50px;
}
#videoholder {
    width: 560px;
    height: 315px;
    margin: auto;
    margin-top: 60px;
}
#landingOrange {
	padding: 5% 0 8% 0;
	background:url(../../img/clickandgo/orangeBG_large.jpg) top center;
}
#interiorLanding h3 {
	color:#2a2e39;
	text-align:center;
	padding: 3% 0 1% 0;
	background:none;
	font-size: 1.8em;
}
#interiorLanding p {
	color:#484848;
	font-size: 1.3em;
	padding-bottom: 0;
}

#interiorLanding .resources p {
	padding-bottom: 0;
}

.tellstory {
	text-align:center;
	padding: 0 0;
    margin-bottom: 0;
}
.downloads {
	
	padding-bottom:40px;
}
.downloads .grid_6 {
}
#interiorLanding .downloads h3 {
	color:#FFFFFF;
	background:#424446;
	padding: 4% 4%;
	margin-bottom: 5%;
	font-size: 1.3em;
}
/*
.downloads ul {
	padding-bottom: 10%;
}
*/
.downloads li {
	list-style-type:none;
	padding-bottom: 15px;
}
.downloads a {
 color: #1A9EE8;
    font-style: italic;
	font-style:italic;
}
.resourceicon {
    padding-right: 10px;
    position: relative;
    top: -10px;
}
.resourceicon img {
	margin-bottom: -20px;
}
.pdfimg {
}
.videowatch {
}


.res_left{
	float:left;
	width:15%;
}

.res_right {
    float: left;
    width: 85%;
}

.res_dbb{
	font-weight:bold;
}

.res_group{
	border-bottom:dotted 1px;
}

.big-orange{
	font-size:1.9em;
	color:#FFA500;
	text-shadow:none;
	text-align:center;
}

.orange-pad {
    padding: 25px 0;
}

.res_icon{
	padding: 10px 0 70px 0;
}

.res_last{
	margin-bottom:80px;
}

.glyphicon.glyphicon-arrow-right {
    font-size: 1.5em;
    color: #17A0F1;
    top: 5px;
    left: 0px;
}

a.linkme{
	font-size:1em;
	color: #B7B7B7;
}


/* -------------------------------------- FOOTER */
#footer {
	background-color: #424446;
	padding: 2% 0;
}
.footerlogos {
}
.footerlogos img {
	max-width: 50px;
	padding: 0 1%;
}
.footerlogos li {
	list-style-type: none;
	display:inline;
}
#flcontain {
	width: 20%;
	float:left;
	display:inline;
}
#footerlinks {
	width: 80%;
	float:right;
	display:inline;
}
#footerlinks ul {
}
#footerlinks li {
	list-style-type:none;
	display:inline;
	padding: 0 .5%;
}
#footerlinks a {
	color:#959595;
	text-decoration:none;
	font-size:.7em;
}
#footerlinks a:hover {
	color:#959595;
	text-decoration:underline;
}

.welcometext {
	text-align:center;
}

@media screen and (max-width: 1100px) {
#headleft {
    width: 100%;
    float: none;
    /* display: block; */
    /* margin: auto; */
    text-align: center;
}

#navcontain {
    height: 40px;
    /* float: right; */
    margin: 47px auto 0 auto;
    /* display: inline-flex; */
    width: 80%;
}

.welcometext {
    padding: 32% 0 2% 0;
    text-align: center;
}

.single_logo_contain {
    width: 100%;
    margin-left: 0;
}

#headright {
    padding: 0px 0 0 0;
}

.stemtype {
    font-size: 1.1em !important;
}
}

/* Tablet */
@media screen and (max-width: 600px) {

.toolkit-num{
	margin-left:auto;
}

#navcontain {
    height: 30px;
    float: right;
    margin: 29px auto 0 auto;
	display:inline-flex;
	
}

.challenge_left {
	width: 100%;
	float:none;
	display:block;
	padding: 0% 0 0 0%;
	height: 300px;
}
.challenge_right {
	width: 100%;
	float:none;
	display:block;
	bottom:0;
}

.header_logos img {
    height: 70px;
    padding: 0;
	margin:3px;
}


.challengecontain {
	margin:auto;
	background: #9A9A9A;
	width:95%;
	margin-bottom: 10%;
	padding-bottom:40px;
	height:450px;
}

.res_left{
	float:none;
	width:100%;
}

.res_right {
    float: none;
    width: 100%;
}

h1.main-slide {
    font-size: 2.3em;
    margin-top: 60px;
}

#headright {
    float: none;
}

#header{    
  padding: 1px;
}
}
/* Mobile */
@media screen and (max-width: 480px) {
#headleft {
	float:none;
}
#headright {
	float:none;
}
#navcontain {
	background-image:none;
}
h1 {
	text-align:center;
}
h2 {
	text-align:center;
	padding: 5% 3%;
}
.welcometext {
	padding: 55% 0 2% 0;
}
#topOrange p {
	padding: 5% 7%;
}
#challengeLanding {
	padding: 3% 0;
}



#footerlinks ul {
	padding: 0 20%;
}
#flcontain {
	width: 50%;
	float:none;
	margin: auto;
	display:block;
	text-align:center;
}
#footerlinks {
	width: 100%;
	float:none;
	text-align:center;
}
}

.show-no-go{
	display:inline;
}

.round-button {
    width: 30px;
    float: left;
    margin-right: 26px;
    margin-top: -14px;
}

.round-button-circle {
    width: 35px;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    border: 2px solid #cfdcec;
    overflow: hidden;
    background: #5F97CB;
    box-shadow: 0 0 3px gray;
}

/*
.round-button-circle {
    width: 100%;
    height: 4px;
    padding-bottom: 100%;
    border-radius: 50%;
    padding: 0 0 87% 0;
    border: 2px solid #cfdcec;
    overflow: hidden;
    background: #5F97CB;
    box-shadow: 0 0 3px gray;
} */

.round-button-circle:hover {
	background:#30588e;
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

.round-button.active a{
	color:#FFF606;
}

.round-button-circle.active{
	background-color:#FBBB00;
}

.nav-link.active a{
	color:#FBBB00;
}

.toolkit-num {
    float: left;
    margin-left: -58%;
    margin-top: -11px;
    color: #FC9F54;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 25px;
	text-transform:uppercase;
}

.toolkit-num a {
	    color: #FC9F54;
    font-weight: bold;
}

.grid_4{
	width:31%;
}

.nav-link a {
    color: #fff;
    text-decoration: none;
    position: relative;
    top: -10px;
    font-size: 1.3em;
}

.nav-link a:hover {
	text-decoration:underline;
}

.stemtype{
	font-size:1.5em;
	color:#EFE8CC;
}

.no-break{
	white-space:nowrap;
}

 ul.show-bullets, ul.show-bullets li {
	list-style-type:inherit;
	padding-bottom:10px;
	font-size: 1.05em;
	font-weight:normal;
}

ul.show-bullets li ul li {
	font-size: 1.02em;
} 

.panel p {
	font-size:1.1em !important;
	padding-bottom:10px !important;
}


.fancy-collapse-panel .panel-heading a {
    background-color: #F26230;
    font-style: normal;
}

ul.bullets-white{
	color:#fff;
}

.pod {
    background-image: url("../../img/clickandgo/mic.png");
    background-repeat: no-repeat;
    background-position: 116px -32px;
    background-size: 296px auto;
}

#player, .full-frame {
	margin-top:70px;
}



/* accordion */


h3.panel-title a{
	color: #F79828;
    font-family: "Lora";
    text-transform: none;
    font-weight: 400;
	margin:0;
	padding:0;
	font-size: 1.3em;
	padding-top: 4%;
}

.panel-body p {
    font-family: "Lora",sans-serif;
    font-weight: 400;
    color: #4B4B4B;
    font-size: 1.1em;
    font-style: normal;
    line-height: 1.6em;
    padding: 5px 5px 5px 28px;
}

.panel-body ul li {
	margin-bottom:0;
	margin-left:35px;
}


.fancy-collapse-panel {
    padding: 5px 0 0 40px;
    font-size: .8em !important;
}

.fancy-collapse-panel.leadership{
	padding:0;
}

h3.panel-title a {
	font-style:normal;
	padding-top:0;
	font-size:1.2em;
	 padding-right: 20px;
}

.panel-title a.collapsed {
    background-image: url("/images/link_arrow_purple_down.png");
	display:block;
    background-repeat: no-repeat;
    background-position: right;
	width:100%;
	background-size: 20px 20px;
	background-size: 20px 20px;
    padding-right: 45px;
}

.panel-title.text-left.xmore a.collapsed {
    background-image: url("/images/more-down.png");
	display:block;
    background-repeat: no-repeat;
    background-position: right;
	width:100%;
	background-size: 63px;
}

h4.text-center.xnormal a {
	font-style:normal;	
}

.panel-title.text-left a{
    background-image: url("/images/less-up.png");
	display:block;
    background-repeat: no-repeat;
    background-position: right;
	width:100%;
	background-size: 63px;
}

h4.panel-title.text-left.xmore a {
    font-style: normal;
    color: #711471;
    padding-left: 7px;
    font-weight: bold;
}


h4.text-center.xnormal a img{
	position:relative;
	top:-2px;
}

.panel-title a {
    background-image: url("/images/link_arrow_purple_up.png");
	display:block;
    background-repeat: no-repeat;
    background-position: right;
	width:100%;
	background-size: 20px 20px;
}

.panel {
	background-color:transparent;
}

.panel-group .panel {
    /* margin-bottom: 0; */
    border-radius: 0;
    border: none;
    border-bottom: solid 1px #ddd;
    /* padding-top: 0; */
    margin: 0 0 0 -21px;
    background-color: transparent;
}

.panel-default>.panel-heading {
    /* color: #FFF; */
    background-color: transparent;
}


.accordion-toggle {
      background-image: url("/images/link_arrow_purple.png");   
   background-repeat: no-repeat;
    background-position-x: right
	
	
}
.accordion-opened .accordion-toggle {    
      background-image: url("/images/link_arrow_purple_down.png");  
	  background-repeat: no-repeat;
      background-position-x: right; 
}

.expand {
 cursor: pointer;
}



@media screen and (max-width: 1100px) {
.chal1welcome {
    margin-top: 400px;
}}


@media screen and (max-width: 600px) {
.toolkit-num{
	margin-left:0;
}

.no-js .toolkit-num{
	display:none;
}

.show-no-go {
	display:none;
}

#videoholder {
    position: relative !important;
    padding-bottom: 240px;
    padding-top: 25px;
    height: 0;
    text-align: center;
    width: 420px;
}

#videoholder iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 420px !important;
	height: 220px !important;
}

}

@media screen and (max-width: 480px) {
.chal1welcome {
    margin-top: 340px;
}

#videoholder {
    position: relative !important;
    padding-bottom: 186px;
    padding-top: 25px;
    height: 0;
    text-align: center;
    width: 320px;
}

#videoholder iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 320px !important;
	height: 180px !important;
}
.pod {

    background-position: 116px -42px; 
}

}

.landingtitle {
    width: 100%;
}

.landingtitle h1{
	font-size:1.5em;
}

.resourcelanding h2 {
    font-size: 2.5em;
    color: #FC9F54;
    text-shadow: none;
}

#mod-container.mod1 {
    /* background-color: #EBE5D0; */
}


 @media screen and (max-width: 800px) {
     /* Landscape styles */
     /* show your content*/
     .header_logos {
	display:none !important;
	}

	.header-fixed {
    position: inherit;
    width: 100%;
	z-index:90000;
	top:0;
}
}




