/* Global */
body {
	font-family: 'Open Sans', sans-serif;
	font-size: .9em;
	background:url(../../img/nasa/earthBG_xl.jpg) no-repeat fixed top center;
}
body.chal1 {background:url(../../img/nasa/chal1_BG_xl.jpg) fixed top center;}
@media screen and (max-width: 2000px) { body.chal1 {background:url(../../img/nasa/chal1_BG_l.jpg) fixed top center;} }
@media screen and (max-width: 1500px) { body.chal1 {background:url(../../img/nasa/chal1_BG.jpg) fixed top center;} }
@media screen and (max-width: 1100px) { body.chal1 {background:url(../../img/nasa/chal1_BG_medium.jpg) fixed top center;} }

body.chal2 {background:url(../../img/nasa/chal2_BG_xl.jpg) no-repeat fixed top center;}
@media screen and (max-width: 2000px) { body.chal2 {background:url(../../img/nasa/chal2_BG_l.jpg) fixed top center;} }
@media screen and (max-width: 1500px) { body.chal2 {background:url(../../img/nasa/chal2_BG.jpg) fixed top center;} }
@media screen and (max-width: 1100px) { body.chal2 {background:url(../../img/nasa/chal2_BG_medium.jpg) fixed top center;} }

body.chal3 {background:url(../../img/nasa/chal3_BG_xl.jpg) fixed top center;}
@media screen and (max-width: 2000px) { body.chal3 {background:url(../../img/nasa/chal3_BG_l.jpg) fixed top center;} }
@media screen and (max-width: 1500px) { body.chal3 {background:url(../../img/nasa/chal3_BG.jpg) fixed top center;} }
@media screen and (max-width: 1100px) { body.chal3 {background:url(../../img/nasa/chal3_BG_medium.jpg) fixed top center;} }

body.chal4 {background:url(../../img/nasa/chal4_BG_xl.jpg) fixed top center;}
@media screen and (max-width: 2000px) { body.chal4 {background:url(../../img/nasa/chal4_BG_l.jpg) fixed top center;} }
@media screen and (max-width: 1500px) { body.chal4 {background:url(../../img/nasa/chal4_BG.jpg) fixed top center;} }
@media screen and (max-width: 1100px) { body.chal4 {background:url(../../img/nasa/chal4_BG_medium.jpg) fixed top center;} }

body.chal5 {background:url(../../img/nasa/chal5_BG_xl.jpg) fixed top center;}
@media screen and (max-width: 2000px) { body.chal5 {background:url(../../img/nasa/chal5_BG_l.jpg) fixed top center;} }
@media screen and (max-width: 1500px) { body.chal5 {background:url(../../img/nasa/chal5_BG.jpg) fixed top center;} }
@media screen and (max-width: 1100px) { body.chal5 {background:url(../../img/nasa/chal5_BG_medium.jpg) fixed top center;} }

body.chal6 {background:url(../../img/nasa/chal6_BG_xl.jpg) fixed top center;}
@media screen and (max-width: 2000px) { body.chal6 {background:url(../../img/nasa/chal6_BG_l.jpg) fixed top center;} }
@media screen and (max-width: 1500px) { body.chal6 {background:url(../../img/nasa/chal6_BG.jpg) fixed top center;} }
@media screen and (max-width: 1100px) { body.chal6 {background:url(../../img/nasa/chal6_BG_medium.jpg) fixed top center;} }



img {
	max-width: 100%;
}
a {
	color:#95a7b9;
	cursor:pointer;
}
a:hover {
	color:#c3d2e0;
}
a:visited {
	color:#c3d2e0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform:none;
	margin: 0;
	padding: 0;
	line-height: 1em;
}
p, a, li {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
h1 {
	color:#f39339;
	font-size: 2.7em;
	text-transform:uppercase;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}
h2 {
	font-size: 1.25em;
	color:#fff;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}
p {
	line-height: 1.6em;
	color:#fff;
}
ul {
	padding-left: 3%;
}
li {
}
.highz {
	z-index: 999999;
}
.bluebtn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  background: #4faadf;
  padding: 10px 40px 10px 40px;
  border: solid #ffffff 1px;
  text-decoration: none;
  margin-bottom:10%;
  color:#fff!important;
}
.bluebtn:hover {
  background: #2d83b5;
  text-decoration: none;
  color:#fff;
}
.dbb {
	color:#2a2e39;
	font-weight:bold;
}
.lb {
	color:#95a7b9;
}
/* -------------------------------- HEADER */
#header {
	padding: .3% 0;
	top:0px;
	width:100%; 
	height:100%; 
	z-index:100;
	/*background-color: rgba(11, 18, 29, 0.6);*/
}
#headleft {
	width: 25%;
	float:left;
	display:inline;
}
#headright {
	width: 75%;
	float:right;
	display:inline;
}
.headerlogos {
	float:right;
	width: 380px;
}
ul.headerlogos {
	padding-left:0;
}
.headerlogos li {
	display:inline;
}
.headerlogos img {
	max-width: 90px;
	padding: 0 2%;
}
#logo {
	text-align: left;
	margin-left:5%;
	width: 45%;
	float:left;
}
/*#hrlogin {
	padding-top: 2%;
	width: auto;
	text-align:center;
	float:right;
	display:inline;
	margin-right: 1%;
	padding-bottom: 1%;
} */
#hrlogin {
  display:inline;
  float:right;
  left:93%;
  margin-right:1%;
  padding-bottom:1%;
  padding-top:10px;
  position:absolute;
  text-align:center;
  width:auto;
}
.loginlink, .signoutlink {
	color:#7eb4e3;
	font-size: .8em;
	text-decoration:none;
	/*background:#f39339;*/
	padding: 10px 32px;
	border:1px solid #7eb4e3;
}
#navcontain {
	width:100%;
	height: 40px;
	background:url(../../img/nasa/navbar.png) top left no-repeat;
	margin-top: 1%;
	margin-left: -5%;
	padding-left:50px;
}
#navcontain li{
	display: inline-block;
	float: left;
	list-style: none;
	list-style-type: none;
	padding: 10px 10px;
	border-left:1px solid #2164BA;
}

#navcontain li a{
	text-decoration: none;
	padding 0px 3px;
}
#navcontain li:hover{
	background-color: #2569C0;
}
/* -------------------------------- LANDING AREA */
#landingArea {
}
.welcometext {
	padding: 25% 0 2% 0;
}

/* ---------------------------------- TOP ORANGE */
#topOrange {
	padding: 5% 0;
	background:url(../../img/nasa/orangeBG_large.jpg) top center;
}

/* --------------------------- CHALLENGE LANDING */
#challengeLanding {
	background:#ececec;
}
#challengeLanding h3 {
	background-color:#2a2e39;
	padding: 4% 0% 4% 5%;
	color:#FFFFFF;
	font-size: 1.4em;
	margin-top: 5%;
	width: 70%;
}
	#challengeLanding p {
	padding: 0 18% 0 5%;
	line-height: 1.4em;
}
a.gotochallenge {
	text-decoration:underline;
	font-style:italic;
	font-size: .8em;
}
.gotochallenge a:hover {
}
.challengelanding {
}
.stemtype {
	color:#ebbd90;
	font-style:italic;
}
.challengecontain {
	background:#373d4b;
	width:100%;
	margin: 3% 0;
	height: 298px;
}
.challenge_left {
	width: 44%;
	float:left;
	display:inline;
	padding: 0% 0 0 0%;
	height: 298px;
}
.challenge_right {
	width: 56%;
	float:right;
	display:inline;
}
.chal1 {
	background:url(../../img/nasa/chal1.png) bottom right no-repeat;
}
.chal2 {
	background:url(../../img/nasa/chal2.png) bottom right no-repeat;
}
.chal3 {
	background:url(../../img/nasa/chal3.png) bottom right no-repeat;
}
.chal4 {
	background:url(../../img/nasa/chal4.png) bottom right no-repeat;
}
.chal5 {
	background:url(../../img/nasa/chal5.png) bottom right no-repeat;
}
.chal6 {
	background:url(../../img/nasa/chal6.png) bottom right no-repeat;
}

/* ------------------------------- BOTTOM ORANGE */
#bottomOrange {
	padding: 5% 0;
	background:url(../../img/nasa/orangeBG_large.jpg) top center;
}
#signup {
	border-top: 1px solid #fab194;
	border-bottom: 1px solid #fab194;
	padding: 5% 15%;
	text-align:center;
	margin: 3% 0%;
}
#signup h3 {
	color:#ffe9d6;
	text-transform:uppercase;
	font-size: 2.3em;
	padding-bottom: 5%;
}
#signup p {
	margin-bottom: 5%;
}
.signupbutton {
	background:url(../../img/nasa/plus_background.png) top right no-repeat;
	padding: 14px 48px 15px 23px;
	text-transform:uppercase;
	font-weight:bold;
	color:#FFFFFF;
}
.calendarbutton {
	background:url(../../img/nasa/calendar_background.png) top right no-repeat;
	padding: 10px 48px 15px 23px;
	text-transform:uppercase;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	margin:5px;
	display:inline-block;
}
a.calendarbutton{
	text-decoration:none;
}
a.calendarbutton:hover{
	text-shadow:#333 1px 1px;
}
#signup a:hover {
	color:#FFFFFF;
}
#cf {
  position:relative;
  height:100%;
  width:100%;
  margin:0 auto;
}
#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
#cf img.top:hover {
  opacity:0;
}

/* -------------------------------------- LANDING PAGES */

.landingtitle {
	width: 95%;
	margin:auto;
}
.landingtitle h1 {
	text-align:center;
}
.landingdetails h2 {
}
.landingdetails p {
}
.chal1welcome {
	background: #373d4b;
	padding: 2% 0%;
	margin-top: 30%;
}
#interiorLanding {
	background:#ececec;
	padding-bottom: 5%;
}
#ld_holder {
}
.ld_left {
	width: 25%;
	float:left;
	display:inline;
}
.ld_right {
	width: 75%;
	float:right;
	display:inline;
}
#videoholder {
	/*width: 560px;
	height: 315px;*/
	margin:auto;
	margin-top: -60px;
	position:relative;
	padding-bottom:56%;
	padding-top:30px;
	height:0;
	overflow: hidden;
}
#videoholder iframe, 
#videoholder object, 
#videoholder embed,
#videoholder video{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.challengelanding .grid_6{
	margin: 0px 25%;
}
#landingOrange {
	padding: 5% 0 8% 0;
	background:url(../../img/nasa/orangeBG_large.jpg) top center;
}
#interiorLanding h3 {
	color:#2a2e39;
	text-align:center;
	padding: 3% 0 1% 0;
	background:none;
	font-size: 1.8em;
}
#interiorLanding p {
	color:#484848;
	font-size: 1.3em;
	padding-bottom: 5%;
}
.tellstory {
	text-align:center;
	padding: 0 0;
	margin-bottom: 5%;
}
.downloads {
}
.downloads .grid_6 {
}
#interiorLanding .downloads h3 {
	color:#FFFFFF;
	background:#373d4b;
	padding: 4% 4%;
	margin-bottom: 5%;
	font-size: 1.3em;
}
.downloads ul {
	padding-bottom: 10%;
}
.downloads li {
	list-style-type:none;
	padding-bottom: 30px;
}
.downloads a {
	color:#596072;
	font-style:italic;
}
.resourceicon {
	padding-right: 10px;
}
.resourceicon img {
	margin-bottom: -20px;
}
.pdfimg {
}
.videowatch {
}

/* -------------------------------------- FOOTER */
#footer {
	background-color: #2a2e39;
	padding: 2% 0;
}
.footerlogos {
}
.footerlogos img {
	max-width: 50px;
	padding: 0 1%;
}
.footerlogos li {
	list-style-type: none;
	display:inline;
}
#flcontain {
	width: 20%;
	float:left;
	display:inline;
}
#footerlinks {
	width: 80%;
	float:right;
	display:inline;
}
#footerlinks ul {
}
#footerlinks li {
	list-style-type:none;
	display:inline;
	padding: 0 .5%;
}
#footerlinks a {
	color:#959595;
	text-decoration:none;
	font-size:.7em;
}
#footerlinks a:hover {
	color:#959595;
}


/* CUSTOMIZE */

/*select {

  background-color: #3b6180;
  background-image: none;
  border: none;
  height: 30px;
  width: inherit;
}

.multiselect{
	height:inherit;
	font-size:14px;
	overflow: scroll;
}

.multiselect selected option::first-child{
	color:green;
}

.multiselect option{
padding:3px;
}*/


select 

{background:transparent;
background-color:#3b6180;
/*border:none;height:30px;*/
color:white;
padding-left:3%;
font-family:epocaclassic-lightregular;
/*-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
padding-right:10px;
width:65%;*/
-moz-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
box-shadow:inset 0 0 6px rgba(0,0,0,0.5)}

select:focus {
	background-image:none
	}
input[type=text],input[type=password],input[type=email] {
	background:#3b6180;border:none;color:white;padding:2% 3%;font-family:epocaclassic-lightregular;-webkit-appearance:none;-moz-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);box-shadow:inset 0 0 6px rgba(0,0,0,0.5);-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px
	}

.challengecontain a.gotochallenge, .help-desk a{
	color:#95a7b9;
}

a:visited, a {
  color: #6B7283;
}

.indent-resources {
  padding: 0 30px 0 47px;
  margin-top: -36px;
  font-size: 19px;
  color: #484848;
  line-height: 30px;
  letter-spacing: .03em;
}

ul.li-fix, ul.li-fix li{
  list-style-type: inherit;
  padding: 2px 0 0px 2px;
  margin: 0 0 1px 20px;
}

.rmm{
	top:46px;	
}

#hrlogin {
	display: inline;
	float: left;
	left: 89%;
	padding-bottom: 1%;
	padding-top: 21px;
	position: absolute;
	text-align: center;
	width: auto;
}

.headerlogos {
	float: left;
}

.loginlink, .signoutlink  {
	background-color: #95A7B9;
	color: #19366F;
	border: 1px solid #19366F;
	white-space: nowrap;
}
 a:visited.loginlink{
	color: #19366F;	
}

.button {
  /* display: block; */
  margin: auto;
}

#hrlogin a.button {
  /* position: relative; */
  /* top: 20px; */
  margin-top: 10px;
  font-size: 0.8em !important;
  min-width: 80px;
}

#btnSignIn{
	white-space:nowrap;
}



.resourceicon {
	padding: 0 15px 24px 0;
	width: 30px;
	float: left;
	position: relative;
	top: -12px;
}

.white-container{
	background-color:#ECECEC;
}

ul.fullaccess li {
  float: left;
  list-style-type: none;
  border: solid 1px #FAB194;
  background-color: transparent;
  margin: -1px;
  width: 15%;
  padding: 50px;
  min-height: 136px;
  text-align: center;
  color: white;
}

ul.fullaccess a{
  font-size:larger;
  font-weight:bold;
  text-transform:capitalize;	
  padding-bottom:4px;
}

/*a.learn-more {
	color: #f39339 !important;
	font-size:large;
	align-text:right;
	font-style: italic;
	font-weight:bold;
	text-decordation:none;
}*/

#signup {
  border-top: 1px solid #fab194;
  border-bottom: 1px solid #fab194;
  padding: 70px 0 70px 0;
  text-align: center;
}

.y4y_subport li{
	list-style-type: none;
}

.y4y_subport h3{
	color: #FFFFFF !important;
  background: #373d4b !important;
  padding: 4% 4% !important;
  margin-bottom: 5% !important;
  font-size: 1.3em !important;
}

.y4y_subport.help-desk h3{
	padding: 2.5% !important;
}

#interiorLanding .y4y_subport p{
	padding-bottom:1%;
}

.calendar .y4y_subport h3{
	padding:23px !important;
}
	

/*NEW SLIM NAVIGATION*/

ul.slimmenu li.slant {
	background-color:#F55; 
	position:relative; 
	left:15px; 
	width:33px; 
	height:33px; 
	display:inline-block;

	-webkit-transform: skew(-45deg);
	-moz-transform:skew(-45deg);
	-o-transform:skew(-45deg);
	-ms-transform:skew(-45deg);
	transform: skew(-45deg);
    

	/* 
 	background-color: transparent !important;
	background-image: url("/uploads/img/slant.png");
    width: 33px;
	height:33px;
    position: relative;
	top: 12px;
	left: -1px; 
	width: 0;
	height: 0;
	border-bottom: 33px solid #19366f;
	border-left: 33px solid transparent; */
}

/*ul.slimmenu{
	position: absolute;
	top: 8px;
	left: 10%;
}*/

ul.slimmenu li a {
	display: block;
	color: #c3d2e0 !important;
padding: 8px 15px 5px 15px !important;
	font-family: 'Open Sans', sans-serif;
	font-size: .9em !important;
	font-weight: bold !important;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-webkit-transition: background-color 0.5s ease-out;
	text-decoration:none;
}

ul.slimmenu li {
	background-color: #19366f !important;
}

ul.slimmenu li .sub-collapser {
	background-image: none !important;
}

ul.slimmenu > li {
	border:none !important;
}


ul.slimmenu li a:hover {
    background-color: #19366f !important;
    text-decoration: none;
	color: orange !important;
}

ul.slimmenu li .sub-collapser > i {
	color: #c3d2e0 !important;
	font-size: 11px !important;
	padding-left: 15px;
	padding-top: 5px;
}

.menu-collapser ul.slimmenu li .sub-collapser > i {
	font-size: 11px !important;
}

ul.slimmenu li .sub-collapser {
	background: none !important;
}

.menu-collapser {
    position: absolute !important;
    background-color:  #19366f !important;
    color: #FFF;
    text-shadow: 0px 1px 0px rgba(113, 64, 64, 0.5);
    width: 100%;
    height: 40px !important;
    line-height: 42px !important;
}

.slimmenu.collapsed{
	position:absolute;
	margin-top:40px;	
}

ul.slimmenu.collapsed li > ul {
	padding-bottom: 2px;
}

ul.slimmenu.collapsed li {
    border-top: solid 1px !important;
}

.collapse-button {
    background-image: linear-gradient(to bottom, #4B58B4, #1E257D) !important;
}


ul.slimmenu li ul li {
    width: 170px !important;
}

ul.slimmenu.collapsed li > ul li, ul.slimmenu.collapsed li > ul {
    background-color: #3258A6 !important;
	width:97% !important;
}

.slimcontainer {
	margin-top:16px;	
	text-align: center;
} 
/* Medium */
@media screen and (max-width: 1396px) {
	#headleft{
		float:none;
		display: block;
		width:50%;
	}
	#headright{
		width:95%;
		display:block;
		float:none;
	}
	
/*.slimcontainer ul.slimmenu{
    top: 171px !important;
}*/
}
/* Tablet */
@media screen and (max-width: 1024px) {
.challengelanding .grid_6{
	margin: 0px auto;
}
.chal1welcome {
	padding: 8% 0%;
}
.landingtitle h1 {
	line-height: 1em;
}

ul.fullaccess li {
  float: left;
  list-style-type: none;
  /* border: solid 1px #FAB194; */
  /* background-color: #373D4B; */
  margin: 0 0 4% 0;
  width: 90%;
  padding: 30px 10px 0 10px;
  min-height: 85px;
  text-align: center;
  color: white;
}
/*#challengeLanding {
padding: 1px 0;
} */
}

/* Fix Login */
@media screen and (max-width: 893px) {

#hrlogin {
	text-align: center;
	width: 100%;
	margin: auto;
	left:17px;
	text-align: center;
	margin: auto;
	position:relative;
	top:10px;
	float:left;
}
.slimcontainer {
	margin-top:22px;	
	
}

/*slimcontainer ul.slimmenu{
	display:none !important;
	position:relative;
}*/

/*.menu-collapser{
	display:block !important;	
}*/

ul.slimmenu li.slant {
    display:none !important;
}

.rmm{
	position:absolute !important;
	top:165px;	
	}
	
.headerlogos {
	float: left;
	margin: auto;
	text-align: center;
	width: 100%;
	min-width: 316px;
	position: relative;
	left: 18px;
	top: 7px;
	}
#hrlogin a.button {
  position: relative;
  top: 3px;
}
}

/* Small */
@media screen and (max-width: 800px) {
	#headleft {
	float:none;
	width:95%;
}
.challenge_left {
	width: 100%;
	float:none;
	display:block;
	padding: 0;
	height: 300px;
}
.challenge_right {
	width: 100%;
	float:none;
	display:block;
	bottom:0;
}
.challengecontain {
	margin:auto;
	background:#373d4b;
	margin-bottom: 18%;
	height:500px;
	width:86%;
}
}
/* Mobile */
@media screen and (max-width: 480px) {
#headleft {
	float:none;
	width:95%;
}
#headright {
	float:none;
}
#navcontain {
	background-image:none;
}
h1 {
	text-align:center;
}
h2 {
	text-align:center;
	padding: 5% 3%;
}
.welcometext {
	padding: 55% 0 2% 0;
}
#topOrange p {
	padding: 5% 7%;
}
#challengeLanding {
	padding: 3% 0;
}
.challengecontain {
	margin:auto;
	background:#373d4b;
	width:95%;
	margin-bottom: 10%;
	height:450px;
}
.challenge_left {
	width: 100%;
	float:none;
	display:block;
	padding: 0% 0 0 0%;
	height: 300px;
}
.challenge_right {
	width: 100%;
	float:none;
	display:block;
	bottom:0;
}
.challengelanding .grid_6{
		margin: 0px auto;
	}
#footerlinks ul {
	padding: 0 20%;
}
#flcontain {
	width: 50%;
	float:none;
	margin: auto;
	display:block;
	text-align:center;
}
#footerlinks {
	width: 100%;
	float:none;
	text-align:center;
}
}

/* Iphone */
@media screen and (max-width: 320px) {
.headerlogos {
	left: 12px;
	}
}



