.AstkAreaNav {
		margin:0;
		padding:0;
}
.AstkAreaNav:after {
		content: " ";
		display:block;
		clear:both;
}
.AstkAreaNav li {
	float:left;
	background-repeat:no-repeat;
	list-style-type:none;
	padding-right:20px;
}
.AstkAreaNav li:last-child {
	padding-right:0;
}
.AstkAreaNav li a {
	display:block;
	text-align:center;
	font-size:120%;
	text-decoration:none;
	padding:10px;
	border-bottom:solid 5px #fff;
}
.AstkAreaNav li.Current a {
	border-bottom:solid 5px #FD811F;
}
.AstkAreaNav li a:hover {
	border-bottom:solid 5px #FFAB6B;
}

.Nav {
	background:url(/assets/img/afterschooltoolkit/nav.gif) no-repeat 0 50%;
	line-height:4;
	padding:0 0 0 70px;
}
.Literacy a:before {
	content:url(/assets/img/afterschooltoolkit/lit_icon.gif);
	display:block;
}
.Math a:before {
	content:url(/assets/img/afterschooltoolkit/math_icon.gif);
	display:block;
}
.Science a:before {
	content:url(/assets/img/afterschooltoolkit/sci_icon.gif);
	display:block;
}
.Arts a:before {
	content:url(/assets/img/afterschooltoolkit/art_icon.gif);
	display:block;
}
.Technology a:before {
	content:url(/assets/img/afterschooltoolkit/tech_icon.gif);
	display:block;
}
.Homework a:before {
	content:url(/assets/img/afterschooltoolkit/hwork_icon.gif);
	display:block;
}

.bucket h2 a {color:#fff ! important;}

.AstkSectionNav 
{
	width:100%;
	border-bottom:solid 10px #fec;	
}

.AstkSectionNav td 
{
	text-align:center;
	vertical-align:bottom;
	background:#eee;
	border-right:solid 5px #fff;
	border-radius:15px 15px 0 0;
}
		
.AstkSectionNav td:last-child 
{
	border-right:0;
}

.AstkSectionNav A {
	text-decoration:none;
	display:block;
	padding:10px 10px 5px 10px;
}

.AstkSectionNav A:hover {
	text-decoration:underline;
}

.AstkSectionNav .Current 
{
	background:#fec;	
}



.AstkBlurb .AstkMedia {
	float:right;
	width:50%;
		margin-left:20px;
}


.AstkBlurb {
	background:#369;
	color:#fff;
	padding:20px;
	margin-bottom:2em;
}

.AstkBlurb:after {
	content: " ";
	display:block;
	clear:both;
	height:0;width:0;
}

h1 {
	margin-top:1em;
}

h2 + h3 {
	margin-top:1.5em;	
}
p + h3, ul + h3 {
	margin-top:2em;	
}



/* overrides */

.afterschool aside 
{
	padding:20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	background: #f60 url('/assets/img/string.png');
	font-weight:bold;
	color:#fff;
}

.afterschool aside img 
{
	width:100%;
}

#planning-your-lesson, #sample-lessons, #resources, #implement-it, #build-it, #check-it
{
	display: none;
}