

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
H2 {
font-size:150%;
}

H3 {
font-size:130%;
}

H4 {
font-size:110%;
}

.FloatLeft {
float:left;
}

.FloatRight {
float:right;
}

.Reflect {

}

.Quote {
padding-left:20px; font-size:110%; font-style:italic;
}

.Center {
text-align:center; margin-left:auto; margin-right:auto;
}

.Instructions {
color:#900; font-style:italics;
}

.Connect {
margin-top:20px; background:url(images/connect.gif) 0 50% no-repeat; padding:10px 0 0 45px; min-height:28px;
}

