﻿
#forum-wrapper {
	width: 1020px;
	margin-top: 15px;
}

div#forum-wrapper h1 {
font-family: BreeSerifRegular;
font-size: 32px;
color: #2aa4ea;
margin-bottom: 35px;
line-height: 33px;
}


div#forum-wrapper select, div#forum-wrapper input[type=text], div#forum-wrapper input[type=password] {
	background: #FFF;
	color: #363636;
}


div#forum-wrapper select {
	width: auto;
}

a.fm-button, a.fm-botton:visited {
	background-color: #ff790e;
	background-image: -webkit-linear-gradient(top,#ff790e,#da6100);
	background-image: -moz-linear-gradient(top,#ff790e,#da6100);
	background-image: -ms-linear-gradient(top,#ff790e,#da6100);
	background-image: -o-linear-gradient(top,#ff790e,#da6100);
}


div#pnlBaseLoggedOut input[type=text], div#pnlBaseLoggedOut input[type=password] {
	background: #3b6180;
	color: #FFF;
}
