﻿/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*************************
 ************************ 	global
*************************/

#container
{
    width: 960px;
    margin: 0 auto;
    background-color: #FFFFFF;
    overflow: hidden;
}

.body
{
    width: 950px;
    margin: 0 auto;
}

.row,
.column
{
    float: left;
    overflow: hidden;
    margin: 0 !important;
}

.two-columns
{
    margin: 0 auto;
    width:100%;
}
.column-one
{
    width:300px;
    float: left;
}

.column-two
{
    width:300px;
    float: right;
}


figure
{
    padding: 0;
}

/***
**** manual two column
***/

.main article .two-column
{
    width: 706px;
}

.main article .two-column div
{
    width: 340px;
    margin-left: 12px;
    float: left;
    overflow: hidden;
}

.main article .two-column div:first-child
{
    margin-left: 0;
}

/*************************
 ************************ 	type
*************************/

body
{
    font: normal 13px/15px Arial, Sans-Serif;
    color: #3e3e3e;
    background-color: #F3F3F3;
}

h2
{
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}

h3
{
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

p
{
    margin: 0 0 12px 0;
}

h2,
h3
{
    margin: 0 0 6px 0;
}

label
{
    font-weight: bold;
}

/*************************
 ************************ 	global header
*************************/

header.global
{
    height: 100px;
}

header .logo
{
    width: 150px;
    height: 100px;
    float: left;
    margin: 10px 0 0 0;
}




/*************************
 ************************ 	primarynav
*************************/

#primarynav
{
    border-bottom: 2px solid #fff;
    /*overflow: hidden;*/
    position: relative;
    z-index: 100;
}

#primarynav > div
{
    width: 100%;
    /*overflow: hidden;*/
}

#primarynav ul
{
    position: relative;
    left: 50%;
    list-style: none;
    float: left;
}

#primarynav li
{
    position: relative;
    float: left;
    right: 50%;
    text-align: center;
    font-weight: bold;
    border-left: 2px solid #fff;
    width: 180px;
    overflow: visible;
}

    #primarynav li:hover ul
    {
        display: block;
    }

#primarynav li:first-child
{
    border: none;
}

#primarynav li a
{
    display: block;
    background-color: #606060;
    color: #fff;
    padding: 10px 0;
}

#primarynav li a:hover
{
    text-decoration: none;
}

/***
**** primary nav drop downs
***/

#primarynav ul ul
{
    position: absolute;
    left: -2px;
    top: 32px;
    float: none;
    display: none;
}

#primarynav ul ul li
{
    position: relative;
    float: none;
    right: auto;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

#primarynav ul ul li:first-child
{
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

#primarynav ul ul li a
{
    padding: 10px 10px;
    background-color: #969696;
}

#primarynav ul ul li a:hover
{
    background-color: #cccccc;
}


/*************************
 ************************ 	secondarynav
*************************/

#secondarynav ul
{
    list-style: none;
}

#secondarynav li
{
    font-weight: bold;
    margin-bottom: 10px;
}

#secondarynav li a
{
    display: block;
    color: #fff;
    background-color: #969696;
    padding: 8px 12px;
}

#secondarynav li a:hover
{
    text-decoration: none;
}

/*************************
 ************************ 	content
*************************/

#content
{
    padding-bottom: 26px;
    position: relative;
    z-index: 50;
}

/***
**** home
***/

#content.home
{
    /**/
}

#content.home .main
{
    /*width: 358px;*/
    width: 500px;
    float: left;
    margin-left: 76px;
}

/*
#content.home .main h3, #content.home .sidebar h3
{
    color: #0088cc;
}
*/



#content.home .sidebar
{
    width: 275px;
    float: right;
    margin-right: 58px;
}

#content.home .sidebar p img
{
    margin: 0 12px 10px 0;
    float: left;
}

#content.home .intro
{
    padding-bottom: 28px;
}

#content.home .news .column
{
    width: 150px;
    margin-left: 58px !important;
}

#content.home .news .column:first-child
{
    margin: 0 !important;
}

#content.home .news .column figure
{
    margin-bottom: 14px;
}



/***
**** home two-column
***/

#content.home .two-column .column
{
    width: 235px;
    margin-left: 30px !important;
}

#content.home .two-column .column:first-child
{
    margin-left: 0 !important;
}

#content.home .two-column .column img
{
    width: 100%;
    height: auto;
}

/***
**** home / feed lists
***/

#content.home .feed
{
    margin-top: 12px !important;
}

#content strong
{
	font-weight: bold;
}

ul.quote-list
{
    list-style: none;
}

ul.quote-list li
{
    float: left;
    width: 78px;
    min-height: 48px;
    margin: 0 15px 7px 0;
    padding: 10px 6px 32px 6px;
    position: relative;
}

ul.quote-list li h5
{
    position: relative;
    top: 0;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
}

ul.quote-list li p
{
    position: absolute;
    bottom: 6px;
    left: 6px;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    margin: 0;
}

ul.quote-list li p span
{
    display: block;
    font-size: 16px;
    line-height: 18px;
}

ul.quote-list li.neg
{
    background-color: #8d2201;
}

ul.quote-list li.pos
{
    background-color: #018d33;
}

ul.feed-list
{
    list-style: none;
}

ul.feed-list li
{
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    margin: 0 0 8px 0;
}

ul.feed-list li span
{
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
}








/***
**** profiles
***/

.main .profile
{
    width: 100%;
}

.main .profile figure
{
    width: 124px;
    float: left;
}

.main .profile .caption
{
    width: 430px;
    float: left;
    margin-left: 10px;
}



/***
**** interior
***/

#content.interior
{
    /**/
}

#content.interior .main
{
    width: 654px;
    width: 706px;
    float: left;
    margin-left: 30px;
}

#content.interior .main article
{
    padding-right: 52px;
}

#content.interior .sidebar
{
    width: 182px;
    float: left;
}

#content.interior .main hgroup
{
    margin-bottom: 20px;
}

#content.interior .main ul
{
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 4px;
}

#content.interior .main ul.results,
#content.interior .main ul.list-view
{
    list-style: none;
    margin-left: 0;
}

#content.interior .main ul.results
{
    position: relative;
    z-index: 10;
}

#content.interior .main ul li
{
    margin-bottom: 8px;
}

#content.interior .main ol
{
    list-style: decimal;
    margin-left: 20px;
    margin-bottom: 4px;
}

#content.interior .main ol li
{
    margin-bottom: 8px;
}

#content.interior img.img-left
{
    margin: 0 12px 12px 0;
    float: left;
}



/***
**** list views
***/

ul.list-view.profiles figure
{
    float: left;
    width: 125px;
}

ul.list-view.profiles .caption
{
    float: left;
    width: 460px;
    margin-left: 12px;
}

/*************************
 ************************ 	carousel
*************************/

#carousel
{
    width: 918px;
    height: 350px;
    margin: 0 auto 34px auto;
}

#carousel .carousel-control {
  position: absolute;
  top: 150px;
  left: 15px;
  width: 34px;
  height: 50px;
  margin-top: 0;
  background: transparent;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  text-indent: -9999px;
}

#carousel .carousel-control.left {
  background: url(../img/arrow-left.png) 0 0 no-repeat;
}

#carousel .carousel-control.right {
  left: auto;
  right: 15px;
  background: url(../img/arrow-right.png) 0 0 no-repeat;
}

#carousel .carousel-control:hover,
#carousel .carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

#carousel .carousel-indicators {
  position: absolute;
  top: auto;
  bottom: 13px;
  right: 13px;
  z-index: 5;
  margin: 0;
  list-style: none;
  display: none;
}

#carousel .carousel-indicators li {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  text-indent: -999px;
  background-color: #e9e9e9;
  background-color: rgba(233, 233, 233, 0.5);
  border-radius: 10px;
}

#carousel .carousel-indicators .active {
  background-color: #fff;
}

/*************************
 ************************ 	hero
*************************/

#hero
{
	width: 960px;
    height: 225px;
    position: relative;
    margin-bottom: 26px;
    z-index: 10;
}

#hero .carousel-inner
{
	width: 960px;
	height: 225px;
}

#hero .item
{
    width: 960px;
    height: 225px;
    /*position: relative;*/
    z-index: 10;
    overflow: hidden;
}

#hero .item figure
{
    width: 960px;
    height: 225px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#hero .item .caption
{
    position: relative;
    z-index: 20;
    width: 390px;
    margin: 84px 0 0 100px;
}


#hero .item h2
{
    margin-bottom: 14px;
}

#hero a.carousel-control
{
    z-index: 20;
}


.selectpicker
{
    position: relative;
}

.indent
{
	padding-left: 15px;
}




/*************************
 ************************ 	footer
*************************/

footer.global
{
    padding-top: 7px;
    border-top: 1px solid #3e3e3e;
}

footer.global ul
{
    list-style: none;
    float: left;
    margin-top: 7px;
}

footer.global li
{
    float: left;
    font-size: 11px;
    line-height: 12px;
    border-left: 1px solid #3e3e3e;
}

footer.global li:first-child
{
    border: none;
}

footer.global li a
{
    display: block;
    padding: 0 3px;
    color: #3e3e3e;
}

footer.global li a:hover
{
    text-decoration: none;
}

footer.global li:first-child a
{
    padding-left: 0;
}

footer.global .utility
{
    width: 350px;
    float: right;
    margin-top: 3px;
}

footer.global .utility p
{
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    margin-bottom: 5px;
    vertical-align: middle;
}

footer.global .utility p a,
footer.global .utility p a:hover
{
    color: #3e3e3e;
}

footer.global .utility img
{
    vertical-align: middle;
    margin-right: 10px;
}

footer.global p.disclaimer
{
    font-size: 11px;
    line-height: 12px;
    padding: 24px 0 10px 0;
    clear: both;
}


.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}


/* overwrites */

.afterschool aside {
padding:20px;
box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
background: #f60 url('/assets/img/string.png');
font-weight:bold;
color:#fff;
}
.afterschool aside img {
width:100%;
}

