/* Global */
#header {
	background-color: #373737!important;
}
#oneAndOnly {
	background-image: url(/wp-content/themes/CloudShapeResponsive/images/blueclimberIE.jpg)!important;
	background-repeat: no-repeat!important;
	background-color: #63c1ed!important;
	background-position:center!important;
	background-position: top!important;
}
#usGov_home {
	background-image:url(/wp-content/themes/CloudShapeResponsive/images/gov_l.jpg)!important;
}
#us_header {
	background-image:url(/wp-content/themes/CloudShapeResponsive/images/us_l.jpg)!important;
}
#daas_header {
	background-image:url(/wp-content/themes/CloudShapeResponsive/images/dock_l.jpg)!important;
}
#gov_header {
	background-image:url(/wp-content/themes/CloudShapeResponsive/images/gov_l.jpg)!important;
}